= form_for resource, as: resource_name, url: confirmation_path(resource_name),
  html: { method: :post } do |f|
  = render 'shared/form_errors', resource: resource

  %h2 Didn't receive a confirmation email?

  %p.lead
    Fill out the form below with the
    email you used to register an account and we'll resend the confirmation email.

  = f.label :email
  = f.email_field :email, autofocus: true

  .actions
    = f.submit 'Resend email', class: 'btn btn-primary btn-large'

= render 'users/shared/links'
