%p
  Hi #{@ticket_request.user.first_name},
%p
  Your ticket request for
  %b #{@event.name}
  has been approved!

%p<>
  - if @ticket_request.free?
    You're good to go!
  - else
    You can now
    = succeed '.' do
      = link_to new_payment_url(ticket_request_id: @ticket_request,
                                user_id: @ticket_request.user_id,
                                user_token: @auth_token) do
        purchase your
        = 'ticket'.pluralize(@ticket_request.total_tickets)

%p
  %b Planning to arrive early or leave late?
  %br
  :ruby
    extra_params = {}
    extra_params[:early_arrival_passes] = @ticket_request.early_arrival_passes
    extra_params[:late_departure_passes] = @ticket_request.late_departure_passes
    extra_params[:email] = @ticket_request.user.email
    extra_params[:name] = @ticket_request.user.name
  = link_to 'Early Arrival / Late Departure Passes',
    new_event_eald_payment_url(@event, extra_params)
  must be purchased separately!

%p
  Thanks,
  %br
  The FnF Ticket Team
