%p
  Hi #{@ticket_request.user.first_name},
%p
  Your ticket request for
  %b #{@event.name}
  has been approved!

%p<>
  - if @ticket_request.free?
    You're good to go!
  - else
    You can now
    = succeed '.' do
      = link_to @payment_url do
        purchase your
        = 'ticket'.pluralize(@ticket_request.total_tickets)

-# XXX will re-enable once EALD has been added back
-# - if @event.eald?
-#   %p
-#     %b Planning to arrive early or leave late?
-#     %br
-#     = link_to 'Early Arrival / Late Departure Passes', @eald_url
-#     must be purchased separately!

%p
  Thanks,
  %br
  The FnF Ticket Team
