%p
  Hi #{@ticket_request.user.first_name},
%p
  Your ticket request for
  %b Cloudwatch 2013
  has been approved!
%p
  If purchasing your
  = 'ticket'.pluralize(@ticket_request.total_tickets)
  with a credit card,
  = succeed '.' do
    = link_to 'click here', new_payment_url(ticket_request_id: @ticket_request.id)
%p
  Otherwise if you intend to pay using some other method, or have made or would
  like to make a special arrangement,
  = succeed '.' do
    = link_to 'click here', other_payments_url
%p
  Please purchase your
  = 'ticket'.pluralize(@ticket_request.total_tickets)
  as soon as possible.  Since there are a limited number of tickets, we may
  offer your
  = 'ticket'.pluralize(@ticket_request.total_tickets)
  to someone else if you wait too long to purchase.
