%p
  Hi #{@ticket_request.user.first_name},
%p
  Your ticket request for
  %b #{@event.name}
  has been approved!

%p
  You can now volunteer for shifts and purchase your
  = succeed '.' do
    = 'ticket'.pluralize(@ticket_request.total_tickets)
%p
  = link_to event_shifts_url(@event) do
    Purchase #{'Ticket'.pluralize(@ticket_request.total_tickets)}

%p
  Please purchase your
  = 'ticket'.pluralize(@ticket_request.total_tickets)
  as soon as possible. Since there are a limited number of tickets, we may
  offer your
  = 'ticket'.pluralize(@ticket_request.total_tickets)
  to someone else if you wait too long to purchase.
%p
  Thanks,
  %br
  The #{@event.name} team
