%p
  Hi #{@ticket_request.user.first_name},

%p
  We have received your ticket request for #{@event.name}
  %br
  Total Tickets: #{@ticket_request.total_tickets}
  - if @ticket_request.ticket_request_event_addons?
    - @ticket_request.active_sorted_addons.each do |tr_event_addon|
      %br
      = tr_event_addon.humanized_category + ': ' "#{tr_event_addon.quantity} - #{tr_event_addon.name}"

%p
  If your request is approved, we will send you confirmation of the approved
  number of tickets and payment information as soon as we can (in some cases
  this can take a week or more).

%p
  We know that waiting is sometimes hard, so we thank you for your
  patience.

%p
  With love ❤️,
  %br
  Your FnF Ticket Team

%p
  P.S. You can view the status of your request at any time by visiting
  = link_to 'this page', @ticket_request_url
