%p
  Hi #{@ticket_request.user.first_name},

%p
  We have received your ticket request for #{@event.name}

%p
  Total Tickets: #{@ticket_request.total_tickets}
  %br
  - @ticket_request.active_sorted_addons.each do |tr_event_addon|
    Event Addons:
    = "#{tr_event_addon.name}: #{tr_event_addon.quantity}"

%p
  If your request is approved, we will send you confirmation of the approved
  number of tickets and payment information as soon as we can (in some cases
  this can take a week or more).

%p
  We know that waiting is sometimes hard, so we thank you for your
  patience.

%p
  With love ❤️,
  %br
  Your FnF Ticket Team

%p
  P.S. You can view the status of your request at any time by visiting
  = link_to 'this page', @ticket_request_url
