%p
  Hi #{@ticket_request.user.first_name},
%p
  Your ticket request for
  %b #{@event.name}
  has been approved!

%p<>
  - if @ticket_request.free?
    You're good to go!
  - else
    You can now
    = succeed '.' do
      = link_to new_payment_url(ticket_request_id: @ticket_request) do
        purchase your
        = 'ticket'.pluralize(@ticket_request.total_tickets)

%p
  Thanks,
  %br
  The #{@event.name} team
