%h2 Resend Confirmation Instructions

= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, data: { turbo: false } ) do |f|
  = render "devise/shared/error_messages", resource: resource

  %h2 Didn't receive a confirmation email?

  %p.lead
    Fill out the form below with the email you used to register an account and we'll resend the confirmation email.

  .field
    %p= f.label :email
    %p= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)

  .actions
    = f.submit "Resend Confirmation Instructions", class: 'btn btn-primary btn-large'

= render "devise/shared/links"
