.row
  .col-12
    .vertical-20
    - if existing
      %strong= "Change Password"
      %br
      %small.fst-italic.nowrap Leave blank if you don't want to change your password
    - else
      %h5 Please enter and confirm your new password
      %strong.fst-italic.text-nowrap Passwords must be at least 6 characters long

.row
  .col-5
    = f.label :password do
      - if existing
        %strong= "New Password:"
      - else
        %strong= "Password:"
        %br
          %normal.fst-italic.nowrap (6 characters minimum)
    = f.password_field :password, autocomplete: "new-password", min_length: 6

  .col-7
    = f.label :password_confirmation do
      - if existing
        %strong= "New Password Confirmation:"
      - else
        %strong= "Password Confirmation:"
        %br
        %normal.fst-italic.nowrap (6 characters minimum)
        %br

      %p= f.password_field :password_confirmation, autocomplete: "new-password", min_length: 6
