.row
  .col-12
    .vertical-20
    - if existing
      %small.nowrap NOTE: leave these fields blank if you don't want to change your password.
    - else
      %h5 Please enter your new password, twice for confirmation.

.row
  .col-5
    = f.label :password do
      %strong= "Password:"
      - if @minimum_password_length
        %br
        %small.text-nowrap
          NOTE:
          = "#{@minimum_password_length} characters minimum"
    = f.password_field :password, autocomplete: "new-password"

  .col-7
    = f.label :password_confirmation do
      %strong= "Password Confirmation:"
      - if @minimum_password_length
        %br
        %br

      %p= f.password_field :password_confirmation, autocomplete: "new-password"
