.row
  .col-md-6.col-sm-12
    .vertical-20
    - if existing
      %small.nowrap NOTE: leave these fields blank if you don't want to change your password.
    - else
      %h3 Please enter your new password, twice for confirmation.

.row
  .col-md-6.col-sm-12
    = f.label :password
    = f.password_field :password, autocomplete: "new-password"
    - if @minimum_password_length
      %small.nowrap
        NOTE:
        = "#{@minimum_password_length} characters minimum"

  .col-6
    %p= f.label :password_confirmation
    %p= f.password_field :password_confirmation, autocomplete: "new-password"
