= form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
  = devise_error_messages!

  %h2 Create an Account

  = f.label :name
  = f.text_field :name, autofocus: true, placeholder: 'First and last name',
    maxlength: 70, required: true,
    class: 'input-block-level'

  = f.label :email
  = f.email_field :email, placeholder: 'email@example.com', maxlength: 254,
    required: true,
    class: 'input-block-level'

  = f.label :password
  = f.password_field :password, placeholder: 'Must be at least 8 characters',
    required: true,
    maxlength: 255, class: 'input-block-level'

  = f.label :password_confirmation
  = f.password_field :password_confirmation, placeholder: '',
    maxlength: 255, required: true,
    class: 'input-block-level'

  = f.submit 'Sign up', class: 'btn btn-primary'

= render 'devise/shared/links'
