%h2 Log in

= form_for(resource, as: resource_name, url: session_path(resource_name, location: request.path), data: { "turbo": false } ) do |f|
  = hidden_field_tag :authenticity_token, form_authenticity_token
  .row
    .col-md-6.col-sm-12
      .field
        %p
          %strong= f.label :email
        %p= f.email_field :email, autofocus: true, autocomplete: "email"
    .col-md-6.col-sm-12
      .field
        %p
          %strong= f.label :password
        %p= f.password_field :password, autocomplete: "current-password"

        - if defined?(redirect_to)
          = hidden_field_tag :redirect_to, redirect_to


  .row
    .col-12
      - if devise_mapping.rememberable?
        .form-check
          %p= f.check_box :remember_me, id: 'remember-me', class: 'form-check-input'
          %p= f.label :remember_me, class: 'form-check-label', for: 'remember-me'

      .actions
        = f.submit "Log in", class: 'btn btn-primary btn-large'

