= form_for @eald_payment,
           url: { controller: :eald_payments, action: :create } do |f|
  = render 'shared/form_errors', resource: @eald_payment

  = f.hidden_field :event_id, value: @event.id
  = f.hidden_field :stripe_card_token, id: 'stripe_card_token' # Value set by JS

  = f.label :name, 'Full Name', class: 'required-label'
  = f.text_field :name, class: 'input-xlarge',
    maxlength: User::MAX_NAME_LENGTH, required: true,
    placeholder: 'First and last name'

  = f.label :email, 'Email', class: 'required-label'
  = f.email_field :email, class: 'input-xlarge',
    maxlength: User::MAX_EMAIL_LENGTH, required: true,
    placeholder: 'email@example.com'

  = f.label :early_arrival_passes, 'Early arrival passes'
  = f.number_field :early_arrival_passes, class: 'input-mini', min: 0, required: true,
    data: { default_price: @event.early_arrival_price }
  %span.help-inline.inline-price

  = f.label :late_departure_passes, 'Late departure passes'
  = f.number_field :late_departure_passes, class: 'input-mini', min: 0, required: true,
    data: { default_price: @event.late_departure_price }
  %span.help-inline.inline-price

  .field
    = label_tag :card_number, 'Credit Card Number'
    = text_field_tag :card_number, nil, name: nil, maxlength: 16, class: 'input-large'
    %span.help-inline
      - %w[visa mastercard american_express discover jcb].each do |company|
        = image_tag "credit-cards/#{company}_32.png"

  .field
    = label_tag :card_code, 'Card Verification Code'
    = text_field_tag :card_code, nil, name: nil, class: 'input-mini', maxlength: 6,
      placeholder: 'NNN'

  .field
    = label_tag :card_month, 'Expiration Date'
    = select_month nil, { add_month_numbers: true },
      { name: nil, id: 'card_month', class: 'input-medium' }
    = select_year nil, { start_year: Date.today.year, end_year: Date.today.year + 15 },
      { name: nil, id: 'card_year', class: 'input-small' }

  %hr

  %p
    Clicking "Pay Now" will charge
    %strong.text-success#eald_total_price{ data: { price: @eald_payment.price } }
      = number_to_currency(@eald_payment.price)
    +
    %strong.text-success#eald_fee
      = number_to_currency(extra_amount_to_charge(@eald_payment.price))
    processing fee
    to the card entered above.
    = help_mark 'This fee covers the the fees charged by our credit card processor, Stripe.'

  %p
    Early Arrival / Late Departure passes are
    %b NOT REFUNDABLE

  %p
    More information can be found at:
    = link_to 'Early Arrival / Late Departure Policy',
      'https://cfaea.net/early-arrival-late-departure-policy/'

  .actions
    = f.submit 'Pay Now', class: 'btn btn-primary btn-large'

    %span.text-error#stripe-error
      %noscript
        JavaScript is not enabled and is required for this form. Enable it in
        your web browser settings and refresh the page to continue.
