= render partial: 'shared/nav_event', locals: { event: @event, active_tab: { eald_passes: 'active' } }

.card
  .card-header.bg-primary-subtle
    .btn-groupp.mx-4
      = link_to download_event_eald_payments_path(@event), class: 'btn btn-warning ', title: 'Download CSV of the EALD Passes' do
        %i.icon-th-list
        Download CSV ▼

  .card-body
    %table.table
      %thead
        %tr
          %th Name
          %th Email
          %th Transaction ID
          %th Early Arrival Passes
          %th Late Departure Passes
      %tbody
        - @eald_payments.each do |payment|
          %tr
            %td= payment.name
            %td= payment.email
            %td= payment.stripe_charge_id
            %td= payment.early_arrival_passes
            %td= payment.late_departure_passes
