= form_for resource, as: resource_name, url: session_path(resource_name) do |f|
  %h2 Sign In

  = f.label :email
  = f.email_field :email, autofocus: true, placeholder: 'email@example.com'

  = f.label :password
  = f.password_field :password

  - if devise_mapping.rememberable?
    = f.label :remember_me, class: 'checkbox' do
      = f.check_box :remember_me
      Remember me

  .actions
    = f.submit 'Sign in', class: 'btn btn-primary btn-large'

= render 'users/shared/links'
