- form_action_name = action_name == 'edit' ? :update : :create
= form_for(@job, url: { controller: :jobs, action: form_action_name }) do |f|
  = render 'shared/form_errors', resource: @job

  .field
    = f.label :name
    = f.text_field :name, class: 'input-large',
      maxlength: 100, required: true

  .field
    = f.label :description
    = f.text_area :description, class: 'input-xxlarge',
      rows: 4, maxlength: 512, required: true

  .actions
    = f.submit class: 'btn btn-primary'
