%h1
  Jobs for #{@event.name}

.btn-group
  = link_to event_path(@event), class: 'btn' do
    %i.icon-arrow-left
    Event
  = link_to new_event_job_path(@event), class: 'btn btn-primary' do
    New Job
    %i.icon-plus-sign

%table.table
  %thead
    %tr
      %th Name
      %th Description
  %tbody
    - @jobs.each do |job|
      %tr
        %td= link_to job.name, event_job_path(@event, job)
        %td= simple_format(job.description)
