%h1= @job.name

%p.lead
  = @job.description

.btn-group
  = link_to event_jobs_path(@event), class: 'btn' do
    %i.icon-arrow-left
    All Jobs
  = link_to edit_event_job_path(@event, @job), class: 'btn' do
    Edit
    %i.icon-edit

%table.table
  %thead
    %tr
      %th Time
      %th People Required
      %th
  %tbody
    - @time_slots.each do |time_slot|
      %tr
        %td
          #{time_slot.start_time.localtime.to_formatted_s(:dhmm)} &ndash; #{time_slot.end_time.localtime.to_formatted_s(:hmm)}
        %td= time_slot.slots
        %td
          = link_to edit_event_job_time_slot_path(@event, @job, time_slot), class: 'btn' do
            Edit
            %i.icon-edit
          = link_to 'Delete', event_job_time_slot_path(@event, @job, time_slot),
                    method: :delete,
                    class: 'btn  btn-link btn-primary btn-sm  delete-time-slot',
                    data: { confirm: 'Are you sure you want to delete this time slot?' }

.clearfix
  = link_to new_event_job_time_slot_path(@event, @job), class: 'btn btn-primary' do
    New Time Slot
    %i.icon-plus-sign
      = link_to 'Delete Job', event_job_path(@event, @job),
                method: :delete,
                class: 'btn  btn-link btn-primary btn-sm  delete-job',
                data: { confirm: 'Are you sure you want to delete this job?' }
