- form_action_name = action_name == 'edit' ? :update : :create
= form_for(@time_slot, url: { controller: :time_slots, action: form_action_name }) do |f|
  = render 'shared/form_errors', resource: @time_slot

  = f.hidden_field :job_id, value: @job.id

  .field
    = f.label :start_time
    = datetimepicker(:start_time, @time_slot.start_time || @event.start_time)

  .field
    = f.label :end_time
    = datetimepicker(:end_time, @time_slot.end_time || @event.end_time)

  .field
    = f.label :slots, 'People per shift'
    = f.number_field :slots, class: 'input-mini', required: true, min: 1

  .actions
    = f.submit class: 'btn btn-primary'
