%h3 Change your password
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, data: { turbo: false } ) do |f|
  = render "devise/shared/error_messages", resource: resource
  = f.hidden_field :reset_password_token
  .field
    %br
    %strong= "New Password"
    %small.fst-italic.text-nowrap
      = "  (6 characters minimum)"
    %p= f.password_field :password, autofocus: true, autocomplete: "new-password", required: true, min_length: 6
  .field
    %br
    %strong= "New Password Confirmation"
    %small.fst-italic.text-nowrap
      = "  (6 characters minimum)"
    %p= f.password_field :password_confirmation, autocomplete: "new-password", required: true, min_length: 6
  .actions
    = f.submit "Change my password", class: 'btn btn-primary btn-large'
= render "devise/shared/links"
