- active_tab ||= {}

.card
  .card-header
    %h3= event.name
  .card-body
    .btn-group
      - if current_user.site_admin? || current_user.manages_event?(event)
        - if active_tab[:event_show].nil?
          = link_to event_path(event), class: "btn #{active_tab[:event_show]}" do
            %i.icon-arrow-left &larr;
            = event.name

      = link_to event_ticket_requests_path(event), class: "btn #{active_tab[:ticket_requests]}" do
        Ticket Requests
        %i.icon-inbox
      = link_to event_eald_payments_path(event), class: "btn #{active_tab[:eald_passes]}" do
        EA/LD Passes
        %i.icon-inbox
      = link_to guest_list_event_path(event), class: "btn #{active_tab[:guest_list]}" do
        Guest List
        %i.icon-th-list
      = link_to edit_event_path(event), class: "btn #{active_tab[:event_edit]}" do
        Edit Event
        %i.icon-edit

.vertical-20
