%footer.w-100#footer{style: "position: relative; overflow: hidden;"}
  #footer-vanta-bg
  .py-3.text-center.position-relative{style: "z-index: 1;"}
    %p.mb-2
      Crafted with &hearts; in San Francisco &mdash;
      &copy; CFAEA 2010-#{Date.current.strftime('%Y')}
    .container
      .row.g-2.justify-content-center
        .col-4.text-center
          %small
            %strong App
            = TicketBooth::Application::VERSION
        .col-4.text-center
          %small
            %strong Rails
            = Rails.version
        .col-4.text-center
          %small
            %strong Ruby
            = RUBY_VERSION
        .col-4.text-center
          %small
            %strong Env
            = Rails.env.to_s.capitalize
        .col-4.text-center
          %small
            %strong Rev
            %a{href: "https://github.com/fnf-org/TicketBooth/commit/#{TicketBooth::Application::REVISION}", target: "_blank" }
              = TicketBooth::Application::REVISION[0..7]
        .col-4.text-center
          %small
            = mail_to 'ticket-support@fnf.org', 'Support', subject: 'Ticket Booth Support'

