- active_tab ||= {}

-# TODO: when we allow uploading images for the events, we can show it.
-# = image_tag image_path('logos/fnf-transparent.png'), class: 'float-end event-preview'
.card.event-nav.border-1.pb-0.border-bottom-0
  .card-header.bg-dark-subtle
    .row
      .col-sm-12.col-md-12.col-lg-7.col-xl-9
        %h1.d-inline-block.align-baseline
          = event.name
      .col-sm-12.col-md-12.col-lg-5.col-xl-3.text-end
        %h5.d-inline.block.align-baseline.text-nowrap
          =  event.starting.to_date.strftime('%A, %B %d, %Y')

  .card-body.p-0.pt-3.pb-0.border-bottom-0.border-2
    %ul.nav.nav-tabs.p-4.pb-0.mb-3.event-tabs
      - if current_user.site_admin? || current_user.manages_event?(event)
        - if active_tab[:event_show] == "active"
          %li.nav-item
            = link_to event_path(event), class: "nav-link #{active_tab[:event_show]}" do
              = event.name
        - else
          = link_to event_path(event), class: "nav-link #{active_tab[:event_show]}" do
            = event.name

      %li.nav-item
        = link_to edit_event_path(event), class: "nav-link #{active_tab[:event_edit]}" do
          Edit Event

      %li.nav-item
        = link_to event_ticket_requests_path(event), class: "nav-link #{active_tab[:ticket_requests]}" do
          Ticket Requests

      -# XXX Re-enable me when ready
      -# %li.nav-item
      -#   = link_to event_ticket_requests_path(event), class: "nav-link #{active_tab[:passes]}" do
      -#     Event Passes

      -# %li.nav-item
      -#   = link_to event_ticket_requests_path(event), class: "nav-link #{active_tab[:passes]}" do
      -#     Camping Permits


      %li.nav-item
        = link_to guest_list_event_path(event), class: "nav-link #{active_tab[:guest_list]}" do
          Guest List

