%nav.navbar.navbar-expand-lg.border-bottom.border-2.border-primary-subtle.border-body.navbar-light.bg-primary-subtle
  %a.navbar-brand{ href: root_path }
    = image_tag "logos/nav-bar-logo.png", size: "80x80"
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
    .navbar-nav
      .btn-group
        - if signed_in?
          - if current_user.site_admin?
            = button_to "All Events", events_path, method: :get, class: 'btn btn-primary btn-lg m-1'
          - elsif current_user.event_admin?
            = button_to "Manage Events", events_path, method: :get, class: 'btn btn-primary btn-lg m-1'
          - else
            = button_to "Home", root_path, class: 'btn btn-primary btn-lg m-1'
          = button_to "Your Profile", edit_user_registration_path,  method: :get, class: 'btn btn-primary btn-lg m-1'
          = button_to "Log Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-lg m-1'
        - else
          - unless controller_name == 'sessions' && action_name == 'new' && request.path == '/users/sign_in'
            = button_to "Log In", new_user_session_path, method: :get, class: 'btn btn-primary btn-lg m-1'
          - unless controller_name == 'registrations' && action_name == 'new' && request.path == '/users/sign_up'
            = button_to "Register", new_user_registration_path, method: :get, class: 'btn btn-primary btn-lg m-1'


