%nav.navbar.navbar-expand-lg.border-bottom.border-2.border-primary-subtle.border-body.navbar-light.bg-primary-subtle
  %a.navbar-brand{ href: root_path }
    = image_tag "/icons/nav-bar-logo.png", size: "80x80"
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
    .navbar-nav.me-auto.mb-2.mb-lg-0
      .btn-group
      - if signed_in?
        - if current_user.site_admin?
          = button_to "All Events", events_path,  method: :get, class: 'btn btn-primary btn-lg'
        - elsif current_user.event_admin?
          = button_to "Events Your Manage", events_path, method: :get, class: 'btn btn-primary btn-lg'
        - else
          = button_to "Home", root_path, class: 'btn btn-primary btn-lg'
        = button_to "Your Profile", edit_user_registration_path,  method: :get, class: 'btn btn-primary btn-lg'
        = button_to "Log Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-lg'
      - else
        - unless (controller_name == 'sessions' && action_name == 'new' && request.path == '/users/sign_in')
          = button_to "Log In", new_user_session_path, method: :get, class: 'btn btn-primary btn-lg'
        - unless (controller_name == 'registrations' && action_name == 'new' && request.path == '/users/sign_up')
          = button_to "Register", new_user_registration_path, method: :get, class: 'btn btn-primary btn-lg'


