-# - active_tab ||= {}
-#
-# -# TODO: when we allow uploading images for the events, we can show it.
-# -# = image_tag image_path('logos/fnf-transparent.png'), class: 'float-end event-preview'
-# .card.event-nav
-#   .card-header.bg-success-subtle
-#     .card-img-top
-#     %h3.d-inline-block.align-baseline
-#       = event.name
-#       %h5.d-inline-block.px-xl-5.px-lg-3.p-md-0.p-sm-0.m-0
-#         = event.starting
-#
-#   .card-body.event-nav
-#     .btn-group
-#       - if current_user.site_admin? || current_user.manages_event?(event)
-#         = link_to event_path(event), class: "btn #{active_tab[:event_show]}" do
-#           - if active_tab[:event_show] != "active"
-#             %i.icon-arrow-left &larr;
-#             = event.name
-#           - else
-#             = event.name
-#         = link_to edit_event_path(event), class: "btn #{active_tab[:event_edit]}" do
-#           Edit Event
-#           %i.icon-edit
-#
-#
-#       = link_to event_ticket_requests_path(event), class: "btn #{active_tab[:ticket_requests]}" do
-#         Ticket Requests
-#         %i.icon-inbox
-#       = link_to event_eald_payments_path(event), class: "btn #{active_tab[:eald_passes]}" do
-#         EA/LD Passes
-#         %i.icon-inbox
-#       = link_to guest_list_event_path(event), class: "btn #{active_tab[:guest_list]}" do
-#         Guest List
-#         %i.icon-th-list
-#
-# .vertical-20

= render partial: 'shared/nav_event_tabs', locals: { active_tab: active_tab, event: event }
