%p
  Hi #{@user.first_name},
%p
  Your payment of
  %b= number_to_currency(@ticket_request.price)
  - if @ticket_request.payment.try(:via_credit_card?)
    +
    %b= number_to_currency(extra_amount_to_charge(@ticket_request.price))
    service charge
  - if @ticket_request.donation && @ticket_request.donation > 0
    +
    %b= number_to_currency(@ticket_request.donation)
    donation
  for
  %b= @event.name
  was received. Thank you.

%p
  We will mail out tickets around July 12. We will send you an email once we've
  sent your tickets to you so you can keep a lookout for USPS.

%p
  If it turns out you do not need all the tickets you ordered, please look to
  the Ticket Exchange on the
  = link_to 'CFAEA', 'http://cfaea.net'
  website to sell your tickets. The exchange will open July 12.

%p
  Got ticket questions or think something is wrong with your order? We are still
  here for you, drop us a line to
  = succeed '.' do
    = mail_to 'fnftickets@gmail.com'

%p
  Friends and Family reminds you to
  %b Leave No Trace

%p
  As such we expect you, as a community, to pack out what you pack in. This
  means that if the packaging and trash came with you,
  %u
    %b it goes home with you.

%p
  If you are hosting a workshop, art project, serving food and drinks, or in
  charge of distributing any merchandise,
  %u
    %b take that excess packaging and recycling home with you
  &mdash; or better yet, don't bring any excess packaging in
  the first place.

%p
  Here are some ideas to reduce your impact at Saratoga Springs and make things
  easier for all of us:

%ul
  %li Transfer store packaged items to a reusable storage container, before you leave home.
  %li Bring aluminum cans instead of glass. Cans can be crushed.
  %li An Altoids tin works great for storing cigarette butts and other MOOP.
  %li A box or crate makes a less messy recycling bin for your camp.
  %li Bring your own trash bags and carry one with you, just in case.
  %li Remind others to pack it in, pack it out.

%p
  We look forward to seeing you at the event!

%p
  So soon!
  %br
  Your FnF 2015 Ticketers, Mark, Shane, and Talia
