= render partial: "payments/payment", locals: { payment: @payment }

%p
  Got ticket questions or think something is wrong with your order? We are still
  here for you, drop us a line at
  = succeed '.' do
    = mail_to 'ticket-support@fnf.org'

%p

  We care deeply about the health, safety, and comfort of attendees at our events and members
  of our community. To help achieve this, we ask all of our members and guests to read,
  understand, and share with each guest our
  %b=link_to 'Code of Conduct', 'https://fnf.page.link/coc', target: '_blank', onclick: "popupWindow('https://fnf.page.link/coc', 'Code of Conduct', window, 800, 900); return false;"

%p
  We are a community driven by volunteerism in the service of the community. As such, we depend upon the energy
  and vision of members and guests to make our events happen!
  %br
  Please (re)acquaint yourself with
  %b=link_to 'The FnF Way', 'https://fnf.events/the-fnf-way/', target: '_blank', onclick: "popupWindow('https://fnf.events/the-fnf-way/', 'The FnF Way', window, 700, 900); return false;"
  and get involved with helping make the event happen!
  %br
  %b=link_to 'Volunteer Signups', 'https://signup.app.fnf.org/'
  %p

%p
  Friends and Family reminds you to
  %b Leave No Trace

%p
  As such we expect you, as a community, to pack out what you pack in. This
  means that if the packaging and trash came with you,
  %u
    %b it goes home with you.

%p
  If you are hosting a workshop, art project, serving food and drinks, or in
  charge of distributing any merchandise,
  %u
    %b take that excess packaging and recycling home with you
  &mdash; or better yet, don't bring any excess packaging in
  the first place.

%p
  Here are some ideas to reduce your impact at the event and make things
  easier for all of us:

%ul
  %li Transfer store packaged items to a reusable storage container, before you leave home.
  %li Bring aluminum cans instead of glass. Cans can be crushed.
  %li An Altoids tin works great for storing cigarette butts and other MOOP.
  %li A box or crate makes a less messy recycling bin for your camp.
  %li Bring your own trash bags and carry one with you, just in case.
  %li Remind others to pack it in, pack it out.

%p
  We look forward to seeing you at the event!

%p
  So soon!
  %br
  Your #{@event.name} Ticketing Team
  = succeed '.' do
    = mail_to 'ticket-support@fnf.org'
