%p
  Hi #{@user.first_name},
%p
  Your payment of
  %b= number_to_currency @ticket_request.price
  for
  %b= @event.name
  was received.
%p
  We look forward to seeing you at the event!
%p
  Thanks,
  %br
  The #{@event.name} team

- if @event.time_slots.any?
  %p
    %i
      P.S. When you get a chance, would could really use some
      = link_to 'volunteers', event_shifts_url(@event)
      to help run the event.
