= form_with url: email_ticket_holders_event_ticket_requests_path(event_id: @event.id), method: :get, data: { event: @event, turbo: true, controller: 'flatpickr', target: '_blank' } do |f|
  .container-fluid
    .card-header.bg-primary-subtle
      %legend Email All Ticket Holders
      Tickets Holders Confirmed and Awaiting Payment:
      %b #{count}
      %hr

      %h6 Subject
      = f.text_field :subject, value: "#{@event.name}: ", maxlength: 80, class: 'form-control', required: true
      %hr
      %h6 Email Message
      %p
      %i Format: Plain text and simple HTML are allowed.

      = f.text_area :body, rows: 5, cols: 80, class: 'form-control', required: true
      = f.submit "▶︎ Send Emails", class: 'btn btn-primary btn-large',
                 id: 'submit-email', data: { disable_with: 'Submitting...' }
      %br