%table.w-100.event-summary
  %tr
    %th{colspan: 2}
      %h4 Event Summary
  %tr
    %td.text-start
      Event Status
    %td
      %div{class: "event-status bg-#{@event.status.css_class} b-0 text-white px-2"}
        = @event.status.name
  %tr
    %td.text-start Start Time
    %td.px-2= TimeHelper.for_display(@event.start_time.localtime)
  %tr
    %td.text-start End Time
    %td.px-2= TimeHelper.for_display(@event.end_time.localtime)

  - if @event.ticket_sales_start_time
    %tr
      %td.text-start Tickets On Sale At
      %td.px-2= TimeHelper.for_display(@event.ticket_sales_start_time)

  - if @event.ticket_sales_end_time
    %tr
      %td.text-start Tickets Sales Stop At
      %td.px-2= TimeHelper.for_display(@event.ticket_sales_end_time)

  %tr
    %td{colspan: 2}
      %hr
      %h4 Ticket and Event Addon Prices
  %tr
    %td.text-start Adult Ticket
    %td.px-2
      %span.price
        = number_to_currency(@event.adult_ticket_price)
      - if @event.max_adult_tickets_per_request
        %span.muted
          (Maximum #{@event.max_adult_tickets_per_request} tickets)
  - if @event.kid_ticket_price.present?
    %tr
      %td.text-start Kids Ticket
      %td.px-2
        %span.price
          = number_to_currency(@event.kid_ticket_price)
      - if @event.max_kid_tickets_per_request.present?
        %span.muted (Maximum #{@event.max_adult_tickets_per_request} tickets)
      - else
        %span.muted
          (Unlimited tickets)

  - if @event.active_event_addons?
    %span.muted
    - @event.active_sorted_event_addons.each do |event_addon|
      %tr
        %td.text-start
          = event_addon.name
        %td.px-2
          %span.price
            = number_to_currency(event_addon.price)
