= form_for(@event) do |f|
  = render 'shared/form_errors', resource: @event

  .field
    = f.label :name, 'Event Name'
    = f.text_field :name, class: 'input-large',
      maxlength: Event::MAX_NAME_LENGTH, require: true

  - prefilled_start_time = (Time.now + 1.day).beginning_of_day
  .field
    = f.label :start_time, 'Start Time'
    = select_date prefilled_start_time, prefix: :start_time
    = select_time prefilled_start_time, prefix: :start_time

  - prefilled_end_time = prefilled_start_time + 3.hours
  .field
    = f.label :end_time, 'End Time'
    = select_date prefilled_end_time, prefix: :end_time
    = select_time prefilled_end_time, prefix: :end_time

  .actions
    = f.submit class: 'btn btn-primary'
