= form_for @event, html: { multipart: true }, data: { turbo: true, controller: 'flatpickr', target: '_blank' } do |f|
  = render 'shared/form_errors', resource: @event

  .container-fluid
    .row
      .col-sm-12.col-md-6.col-lg-6
        %legend Event Details
        = f.label :name, 'Event Name'
        = f.text_field :name, class: 'event-name', required: true, maxlength: Event::MAX_NAME_LENGTH

        = f.label :start_time, 'Start Time'
        = render partial: 'shared/datetime_field', locals: {form: f, name: "start_time", datetime: (@event.start_time || 1.day.from_now.beginning_of_day) }

        = f.label :end_time, 'End Time'
        = render partial: 'shared/datetime_field', locals: {form: f, name: "end_time", datetime: (@event.end_time || 1.day.from_now.beginning_of_day)}

        .vertical-20
        %fieldset
          %legend Ticket Sale Details
          = f.label :ticket_sales_start_time do
            Ticket Sales Opening Time
            %p.muted
              Leave blank to begin selling tickets right away
          = render partial: 'shared/datetime_field', locals: {form: f, name: "ticket_sales_start_time", datetime: (@event.ticket_sales_start_time) }

          = f.label :ticket_sales_end_time do
            Ticket Sales Closing Time
            %p.muted
              Leave blank to allow selling tickets up to the end of the event
          = render partial: 'shared/datetime_field', locals: {form: f, name: "ticket_sales_end_time", datetime: (@event.ticket_sales_end_time) }

          = f.label :ticket_requests_end_time do
            Ticket Requests Closing Time
            %p.muted
              Leave blank to allow requesting tickets up to the end of the event
          = render partial: 'shared/datetime_field', locals: {form: f, name: "ticket_requests_end_time", datetime: (@event.ticket_requests_end_time) }

        %legend Event Configuration
        %fieldset
          = f.label :tickets_require_approval, class: 'checkbox' do
            = f.check_box :tickets_require_approval
            Ticket requests require approval
            %p.muted
              Check this box if you want to manually approve all requests before
              allowing ticket to be purchased.

          = f.label :require_role, class: 'checkbox' do
            = f.check_box :require_role
            Ticket requester event role required
            %p.muted
              Check this box if you want to collect a details of what role a ticket requester is
              taking on for the event. e.g. volunteer, coordinator, etc....

          = f.label :require_mailing_address, class: 'checkbox' do
            = f.check_box :require_mailing_address
            Mailing address required
            %p.muted
              Check this box if you want to collect mailing addresses for mailing
              tickets.

          = f.label :allow_financial_assistance, class: 'checkbox' do
            = f.check_box :allow_financial_assistance
            Allow requesters to ask for financial assistance
            %p.muted
              Check this box if you want to show a checkbox on the request form to
              allow a ticket requester to ask for financial assistance with paying
              for their ticket.

          = f.label :allow_donations, class: 'checkbox' do
            = f.check_box :allow_donations
            Allow donations
            %p.muted
              Check this box if you want to allow people to make an additional donation
              on top of their ticket price when purchasing their tickets.


      .col-sm-12.col-md-6.col-lg-6
        %legend Ticket Pricing
        = f.label :adult_ticket_price, 'Adult Ticket Price ($)'
        = f.number_field :adult_ticket_price, class: 'input-small', required: true,
          min: 0

        = f.label :max_adult_tickets_per_request do
          Maximum number of adult tickets allowed per ticket request?
          %p.muted Leave blank for no limit
        = f.number_field :max_adult_tickets_per_request, class: 'input-mini', min: 1

        = f.label :kid_ticket_price do
          Kid Ticket Price ($)
          %p.muted Set blank if you want to sell only adult tickets
        = f.number_field :kid_ticket_price, class: 'input-small', min: 0

        = f.label :max_kid_tickets_per_request do
          Maximum number of kid tickets allowed per ticket request?
          %p.muted Set blank for no limit
        = f.number_field :max_kid_tickets_per_request, class: 'input-mini', min: 1

        %legend Event Addons and Pricing
        %p.muted
          To remove an addon from being sold at an event, set the price to 0.

        - @event.sorted_event_addons.each do |event_addon|
          = f.fields_for :event_addons, event_addon do |event_addon_form|
            = event_addon_form.hidden_field :addon_id, value: event_addon.addon_id
            = event_addon_form.label :name, "#{event_addon.category_and_name}"
            = event_addon_form.number_field :price, class: 'input-small', min: 0

  = f.submit " ▶︎ Update Event", class: 'btn btn-primary btn-large'
