
.card.tb-table-card
  .card-body
    .table-responsive
      %table.table.tb-table
        %thead
          %tr
            %th Name
            - if event.require_role
              %th Role
            %th.text-center Type
            %th.text-center Count
            %th.text-center Date
            %th.text-center Status

        %tbody
          - ticket_requests.each do |ticket_request|
            - next unless ticket_request.active_addon_pass_sum > 0
            - ticket_request.active_sorted_addons_by_category(Addon::CATEGORY_PASS).each do |tr_event_addon|
              %tr.ticket-request-row
                %td.ticket-user
                  = link_to event_ticket_request_path(event, ticket_request) do
                    = ticket_request.user.name
                - if event.require_role
                  %td.muted= TicketRequest::ROLES[ticket_request.role]
                %td.text-center= tr_event_addon.name
                %td.text-center= tr_event_addon.quantity
                %td.text-center= ticket_request.created_at.to_date
                %td.text-center.ticket-status
                  %span.p-1.rounded.small{ class: text_class_for_status(ticket_request) }
                    = text_for_status ticket_request
