.card.tb-table-card
  .card-body
    .table-responsive
      %table.table.tb-table#camping-permits-summary
        %thead
          %tr
            %th.text-nowrap Payment Status
            %th.text-center= Addon::HUMANIZED_CATEGORIES[Addon::CATEGORY_CAMP]
            %th.text-end Total

        %tbody
          - [[stats[:completed], 'Paid', 'bg-success-subtle'], [stats[:pending], 'Pending', 'bg-warning'], [stats[:awaiting_payment], 'Awaiting', 'bg-warning-subtle']].each do |s, label, bg|
            %tr
              %td{class: bg}= label
              %td.text-center{class: bg}= s[:addon_camping]
              %td.text-end{class: bg}
                %strong= number_to_currency(s[:camp_raised], precision: 0)

          %tr
            %td.bg-dark-subtle
              %strong Total
            %td.text-center.bg-dark-subtle= stats[:total][:addon_camping]
            %td.text-end.bg-dark-subtle
              %strong= number_to_currency(stats[:total][:camp_raised], precision: 0)
