= render partial: 'shared/nav_event', locals: { event: @event, active_tab: { active_guest_list: 'active' } }

.card
  .card-body
    = render '/events/email_form', resource: @event

    %table.table.table-condensed
      %thead
        %tr
          %th Ticket Requester
          %th Their Guests
      %tbody
        - @ticket_requests.each do |ticket_request|
          %tr
            %td
              - user = "#{ticket_request.user.name} <#{ticket_request.user.email}>"
              - email = ticket_request.user.email
              = link_to event_ticket_request_path(@event, ticket_request) do
                %span= user
            %td
              - if ticket_request.guests.empty?
                %span= "as themselves"
                %br
              - else
                - ticket_request.guests.each do |guest|
                  - next unless guest.present?
                  - guest_email = guest.split(/[<>]/).last
                  - if guest == user || (guest_email.present? && guest_email == email)
                    %span= "as themselves"
                    %br
                  - else
                    %span= guest
                    %br
