= render partial: 'shared/nav_event', locals: { event: @event, active_tab: { guest_list: 'active' } }

.card
  .card-header.bg-primary-subtle
    .btn-group.mx-4
      = link_to download_guest_list_event_path(@event),
        class: 'btn btn-warning ',
        title: 'Download CSV of the guest list' do
        %i.icon-th-list
        Download CSV ▼
  .card-body
    %table.table.table-condensed
      %thead
        %tr
          %th Ticket Requester
          %th Their Guests
      %tbody
        - @ticket_requests.each do |ticket_request|
          %tr
            %td
              - user = "#{ticket_request.user.name} <#{ticket_request.user.email}>"
              - email = ticket_request.user.email
              %span= user
            %td
              - if ticket_request.guests.empty?
                %span= "as themselves"
                %br
              - else
                - ticket_request.guests.each do |guest|
                  - next unless guest.present?
                  - guest_email = guest.split(/[<>]/).last
                  - if guest == user || (guest_email.present? && guest_email == email)
                    %span= "as themselves"
                    %br
                  - else
                    %span= guest
                    %br
