.card
  .card-header.bg-dark-subtle
    %h1 Events
  .card-body
    %table.table.button-links
      %thead
        %tr
          %th.bg-body-secondary Event
          %th.bg-body-secondary.optional Status
          %th.bg-body-secondary.text-end.optional Ticket Requests
          %th.bg-body-secondary.text-end Total Guests
          %th.bg-body-secondary.text-end.optional Collected Revenue
          %th.bg-body-secondary.text-end.optional Awaiting Payment
          %th.bg-body-secondary Start Time / End Time
      %tbody
        - @events.each do |event|
          - status_widget = event.status

          %tr
            %td.p-1.align-content-center
              .span.me-3
                = link_to event, class: "text-nowrap btn btn-#{status_widget.css_class} w-100" do
                  = event.name
            %td.p-1.optional.align-content-center.mx-4
              = status_widget.name
            %td.p-1.text-end.optional.align-content-center
              = event.ticket_requests.count
            %td.p-1.text-end.align-content-center
              = event.ticket_requests.sum(&:guest_count)
            %td.p-1.text-end.optional.align-content-center
              = number_to_currency(event.ticket_requests.completed.sum(&:cost))
            %td.p-1.text-end.optional.align-content-center
              = number_to_currency(event.ticket_requests.awaiting_payment.sum(&:cost))
            %td.fs-7.text-nowrap.small.align-content-center
              = TimeHelper.for_display(event.start_time.localtime)
              %br
              = TimeHelper.for_display(event.end_time.localtime)

  .card-footer.bg-dark-subtle
    = link_to new_event_path, class: 'btn btn-warning ' do
      Create a New Event
      %i.icon-plus-sign
