.card
  .card-header.bg-success-subtle
    %h1 Events
  .card-body
    %table.table
      %thead
        %tr
          %th Event
          %th Start Time
          %th End Time
      %tbody
        - @events.each do |event|
          %tr
            %td.p-3
              = link_to event, class: "button-link text-nowrap" do
                = event.name
            %td= TimeHelper.for_display(event.start_time.localtime)
            %td= TimeHelper.for_display(event.end_time.localtime)

  .card-footer.bg-secondary-subtle
    = link_to new_event_path, class: 'btn btn-warning btn-lg' do
      Create a New Event
      %i.icon-plus-sign
