%h1= @event.name

%dl.dl-horizontal
  %dt Start Time
  %dd= @event.start_time.localtime.to_s(:friendly)
  %dt End Time
  %dd= @event.end_time.localtime.to_s(:friendly)
  %dt Adult Ticket Price
  %dd
    = number_to_currency(@event.adult_ticket_price)
    - if @event.max_adult_tickets_per_request
      %span.muted
        (max #{@event.max_adult_tickets_per_request} tickets per request)
  %dt Kid Ticket Price
  %dd
    = number_to_currency(@event.kid_ticket_price)
    - if @event.max_kid_tickets_per_request
      %span.muted
        (max #{@event.max_kid_tickets_per_request} tickets per request)
  %dt Cabin Price
  %dd
    = number_to_currency(@event.cabin_price)
    - if @event.max_cabins_per_request
      %span.muted
        (max #{@event.max_cabins_per_request} cabins per request)

- if current_user.site_admin?
  = link_to events_path, class: 'btn' do
    %i.icon-arrow-left
    All Events
  = link_to event_ticket_requests_path(@event), class: 'btn' do
    Ticket Requests
    %i.icon-inbox
  = link_to event_jobs_path(@event), class: 'btn' do
    Jobs
    %i.icon-list-alt
  = link_to edit_event_path(@event), class: 'btn btn-primary' do
    Edit
    %i.icon-edit
