= render partial: 'shared/nav_event_tabs', locals: { active_tab: { event_show: 'active'}, event: @event }

.row
  .col-sm-12.col-md-12.col-lg-6
    .card.p-2.border-top-0
      .card-body
        %h4 Event Summary
        %dl.dl-horizontal
          %dt Start Time
          %dd= TimeHelper.for_display(@event.start_time.localtime)
          %dt End Time
          %dd= TimeHelper.for_display(@event.end_time.localtime)
          %dt Adult Ticket Price
          %dd
            = number_to_currency(@event.adult_ticket_price)
            - if @event.max_adult_tickets_per_request
              %span.muted
                (max #{@event.max_adult_tickets_per_request} tickets per request)
          %dt Kid Ticket Price
          %dd
            - if @event.price_rules.any?
              %ul
                - @event.price_rules.order(:created_at).each do |price_rule|
                  %li= price_rule.rule_text
                %li
                  Otherwise:
                  = number_to_currency(@event.kid_ticket_price)
                  \/ kid
            - else
              = number_to_currency(@event.kid_ticket_price)
            - if @event.max_kid_tickets_per_request
              %span.muted
                (max #{@event.max_kid_tickets_per_request} kid tickets per request)
          %dt Cabin Price
          %dd
            = number_to_currency(@event.cabin_price)
            - if @event.max_cabins_per_request
              %span.muted
                (max #{@event.max_cabins_per_request} cabins per request)

    .card.mt-4
      .card-header
        %h4 Ticket Request Link
        %span.help-inline
          Share this link so people can create ticket requests.
        %span.muted
          (Right click and copy the link to your clipboard)
        %br
      .card-body
        = link_to request_tickets_path(@event), request_tickets_path(@event), class: "button-link", target: "_top"


  .col-sm-6.col-md-6.col-lg-6.col-xl-6
    .card
      .card-body
        %h4 Event Admins
        %p
          The following individuals have administrative privileges for this event.
        %ul.event-admins
          - @event.admins.each do |admin|
            %li.text-nowrap
              %strong
                = admin.name
              %br
              - if current_user.site_admin? || admin != current_user
                = link_to remove_admin_event_path(@event, user_id: admin),
                  data: {"turbo-frame": "_top", "turbo-method": "post", "turbo-confirm": "Are you sure?" },
                  class: 'btn float-end' do
                  Demote
                  &nbsp;
                  %i.bi-x-square-fill

              = mail_to admin.email

        .vertical-20
        = form_tag add_admin_event_path(@event), method: :post do
          = label_tag :user_email do
            User Email
            %span.muted.caution NOTE: Must already be registered
          .btn-group-md
            = text_field_tag :user_email, nil, class: 'd-inline',
              placeholder: 'email@example.com', maxlength: User::MAX_EMAIL_LENGTH
            = submit_tag " ▶︎ Add Admin", data: {"turbo-frame": "_top", "turbo-method": "post"}, class: "btn btn-primary btn-large"
