= render partial: 'shared/nav_event_tabs', locals: { active_tab: { event_show: 'active'}, event: @event }

.row
  .col-sm-12.col-md-12.col-lg-6
    .card.border-1
      .card-body
        = render partial: "events/event_summary"
    .card.mt-4
      .card-header
        %h4 Ticket Request Link
        %span.help-inline
          Share this link so people can create ticket requests.
        %span.muted
          (Right click and copy the link to your clipboard)
        %br
      .card-body.button-links
        = link_to tickets_request_url(@event), tickets_request_url(@event), class: "button-link ticket-request-link", target: "_top"


  .col-sm-6.col-md-6.col-lg-6.col-xl-6
    .card.border-1
      .card-body
        %h4 Event Admins
        %p
          The following individuals have administrative privileges for this event.
        %ul.event-admins
          - @event.admins.each do |admin|
            %li.text-nowrap
              %strong
                = admin.name
              %br
              - if current_user.site_admin? || admin != current_user
                = link_to remove_admin_event_path(@event, user_id: admin),
                  data: {"turbo-frame": "_top", "turbo-method": "post", "turbo-confirm": "Are you sure?" },
                  class: 'btn float-end' do
                  Demote
                  &nbsp;
                  %i.bi-x-square-fill

              = mail_to admin.email

        .vertical-20
        %h5 Add a new Admin
        = form_tag add_admin_event_path(@event), method: :post do
          = label_tag :user_email do
            %strong
              User Email
            %span.muted.bg-info-subtle.p-2.rounded-3 NOTE: Must already be registered
          = submit_tag "Add Admin ✚ ", data: {"turbo-frame": "_top", "turbo-method": "post"}, class: "btn btn-primary btn-large float-end"
          .vertical-20
          .btn-group-md
            = text_field_tag :user_email, nil, class: 'd-inline',
              placeholder: 'email@example.com', maxlength: User::MAX_EMAIL_LENGTH
