%p
  Hi #{@payment.name},

%p
  Your payment of
  %b= number_to_currency(@payment.amount_charged_cents.to_f / 100)
  for
  %b= @payment.early_arrival_passes
  early arrival passes and
  %b= @payment.late_departure_passes
  late departure passes for
  %b= @event.name
  was received. Thank you!

%p
  Reminder: there are no refunds for Early Arrival/Late Departure passes!

%p
  Early arrival passes can be picked up at the gate when you arrive.

%p
  Late departure passes can be picked up at the Main Lodge on Sunday 12PM-4PM.

%p
  More information can be found at:
  = link_to 'Early Arrival / Late Departure Policy', 'https://fnf.page.link/eald-policy'
