- ticket_request = payment.ticket_request

%p.lead
  Hi #{ticket_request.user.first_name.capitalize},

- if payment.received?
  %p Thanks for purchasing your tickets for #{ticket_request.event.name}!

  %strong
    %p Adults Tickets: #{ticket_request.adults}

  %strong
    - if ticket_request.kids.present?
      %p Kids Tickets: #{ticket_request.kids}

  %strong
    - if ticket_request.ticket_request_event_addons?
      - ticket_request.active_sorted_addons.each do |tr_event_addon|
        %p #{tr_event_addon.humanized_category}: #{tr_event_addon.quantity} - #{tr_event_addon.name}

  %hr
  %strong
    %p Amount:
    = number_to_currency(payment.dollar_cost)
    - if ticket_request.donation > 0
      (including #{number_to_currency(ticket_request.donation)} donation)

- else
  %p.lead
    You've indicated that you're paying via another form of payment.

  %p
    The explanation we have on file for the type of payment to be expecting
    from you is below:

  %blockquote
    %em= ticket_request.payment.explanation

  %p
    You will receive a confirmation email when your payment of
    %span.text-success= number_to_currency(payment.dollar_cost)
    is received.
