- content_for(:head) do
  %link{:href => "checkout.css", :rel => "stylesheet"}

.content-fluid
  .row
    .col-4
      .card
        .card-header.bg-dark-subtle
          %h3
            Hi, #{@user.first_name}

        .card-body
          - if @event.tickets_require_approval
            %p.lead.text-success
              Your request for
              %b
                = @ticket_request.adults
                = 'ticket'.pluralize(@ticket_request.total_tickets)
              has been approved!
            %p
              Now all that's left is to pay for your tickets.
              If you are paying via credit card, fill out the form below.
              %br
              = link_to 'I am not paying via credit card',
                other_payments_path(ticket_request_id: @ticket_request.id)

          - else
            %p.lead.text-success
              You're almost done! All that's left is to purchase your
              = succeed '.' do
                = 'ticket'.pluralize(@ticket_request.total_tickets)

    .col-8
      %form#payment-form{"data-controller" => "checkout",
                         "data-checkout-ticket-request-id-value" => "#{@ticket_request.id}"}
      #payment-element
        / Stripe.js injects the Payment Element
      #payment-message.hidden

      %button.submit.btn.btn-success.mt-3s
        #spinner.spinner.hidden
        %span.button-text
          Pay now

      %p.small
        By purchasing tickets to an FnF event, you acknowledge that you have read
        = link_to 'The FnF Way', 'https://fnf.events/the-fnf-way/', target: '_blank', onclick: "popupWindow('https://fnf.events/the-fnf-way/', 'The FnF Way', window, 700, 900); return false;"
        and
        = link_to 'Code of Conduct', 'https://fnf.page.link/coc', target: '_blank', onclick: "popupWindow('https://fnf.page.link/coc', 'Code of Conduct', window, 800, 900); return false;"
        and are responsible for sharing these documents with your guests. You
        further understand that you are responsible for the conduct of your guests
        while they attend an FnF event. By making clear the values that inform our
        events and setting the expectation of conduct at our events, we hope to
        continue to embrace radical self-expression while continuing to invite new
        and diverse people into our community.

