- content_for(:meta) do
  %meta{ name: 'stripe-key', content: STRIPE_PUBLIC_KEY }

- content_for(:head) do
  = javascript_include_tag 'https://js.stripe.com/v1/'

%p.lead
  Hi #{@user.first_name},

-# HACK: Temporarily hide this for Mo's event
- if @event.tickets_require_approval
  %p.lead.text-success
    Your ticket request has been approved!
  %p
    Now all that's left is to pay for your tickets.
    If you are paying via credit card, fill out the form below.
    %br
    = link_to 'I am not paying via credit card',
      other_payments_path(ticket_request_id: @ticket_request.id)

- else
  %p.lead.text-success
    You're almost done! All that's left is to purchase your
    = succeed '.' do
      = 'ticket'.pluralize(@ticket_request.total_tickets)

%p
  %b Planning to arrive early or leave late?
  %br
  :ruby
    extra_params = {}
    extra_params[:early_arrival_passes] = @ticket_request.early_arrival_passes
    extra_params[:late_departure_passes] = @ticket_request.late_departure_passes
    extra_params[:email] = @ticket_request.user.email
    extra_params[:name] = @ticket_request.user.name
  = link_to 'Early Arrival / Late Departure Passes',
    new_event_eald_payment_path(@event, extra_params),
    target: '_blank'
  must be purchased separately!

%hr

= render 'form'
