%p.lead
  Hi #{@user.first_name},
%p
  If
  = link_to 'paying via credit card',
    new_payment_path(ticket_request_id: @ticket_request.id)
  is not an option, you can mail a check or other form of payment of
  %strong.text-success= number_to_currency(@ticket_request.price)
  to:

%address
  %b CloudWatch
  %br
  475 1/2 Sanchez Street
  %br
  San Francisco, CA
  %br
  94114

%p.lead.text-error
  Click the following button once you've sent your payment via some other method
  %br
  = link_to sent_payments_path(ticket_request_id: @ticket_request.id),
    method: :post,
    class: 'btn btn-primary' do
    %i.icon-check
    I've sent my payment
%p
  This lets us know your payment is en route, so we won't give your ticket
  away to someone else.

%p
  We will send you a confirmation email when your payment has been received.
  If you haven't heard from us and you think you should have by now, contact us at
  = mail_to 'payments@helpingculture.com'
