%p.lead
  Hi #{@user.first_name},
%p
  If
  = link_to 'paying via credit card',
    new_payment_path(ticket_request_id: @ticket_request.id)
  is not an option, you can mail a check or other form of payment of
  %strong.text-success= number_to_currency(@ticket_request.price)
  to:

%address
  %b FnF Tickets c/o Talia Friedman
  %br
  10 Court Lane
  %br
  Fairfax, CA 94930

%p
  Please make checks payable to
  = succeed '.' do
    %b CFAEA
  %br
  %b No post-dating!

= form_tag sent_payments_path(ticket_request_id: @ticket_request.id) do
  %p
    Briefly describe how you intend to pay for your ticket, then click the
    button once you've sent it.
    %br
    Please include details if sending via Paypal or
    similar, e.g. the email it was sent from.
    %br
    When in doubt, contact us!

  = text_area_tag(:explanation, nil, class: 'input-xxlarge', rows: 4, required: true)

  .actions
    = submit_tag("✓ I've sent my payment", class: 'btn btn-primary')

%p.lead
  We will send you a confirmation email when your payment has been received.

%p
  If you don't receive confirmation within a week or two since you sent it, contact us at:
  = mail_to 'fnftickets@gmail.com'
