.card
  .card-header
    %h4 Pay for "#{@event.name}" using alternative methods

  .card-body
    %p.lead
      Hi #{@user.first_name},
    %p
      If
      = link_to 'paying via credit card',
        new_event_ticket_request_payment_path(@event, @ticket_request)
      is not an option, we can accept check or other forms of payment.

    = form_tag sent_event_ticket_request_payments_path(@event, @ticket_request) do
      %p
        Briefly describe below how you intend to pay for your ticket.
        Confirm that your email address in our system is correct so we can contact you.

      %p
        Your current email address is
        %strong
          = @user.email

      %p
        I intend to pay the total of #{number_to_currency(@ticket_request.cost)} via the following method:
      = text_area_tag(:explanation, nil, class: 'input-xlarge w-75', rows: 4, required: true)

      .actions
        = submit_tag('Submit request', class: 'btn btn-primary btn-sm')

    %strong
      After submitting your request, we will contact you to arrange payment details.

    %p
      When in doubt, contact us at
      = mail_to 'ticket-support@fnf.org'
