%p.lead
  Hi #{@payment.ticket_request.user.first_name},

- if @payment.received?
  %p.lead
    Thanks for purchasing your ticket for #{@event.name}!

  %p
    %b Amount Paid:
    = number_to_currency(@charge.amount / 100.0)
    - if @ticket_request.donation > 0
      (including #{number_to_currency(@ticket_request.donation)} donation)

  %p
    %b Card # Ending In:
    = @charge.card.last4

  %p
    %b Card Expiration Date:
    #{@charge.card.exp_month} / #{@charge.card.exp_year}
- else
  %p.lead
    You've indicated that you're paying via another form of payment.

  %p
    The explanation we have on file for the type of payment to be expecting
    from you is below:

  %blockquote
    %em= @payment.explanation

  %p
    You will receive a confirmation email when your payment of
    %span.text-success= number_to_currency(@payment.ticket_request.price)
    is received.

- if @event.require_mailing_address
  %p
    Your order will be mailed to:
    %address
      = @ticket_request.address_line1
      - if @ticket_request.address_line2.present?
        %br
        = @ticket_request.address_line2
      %br
      #{@ticket_request.city}, #{@ticket_request.state}, #{@ticket_request.zip_code}
      %br
      = @ticket_request.country_name

%p
  %b Planning to arrive early or leave late?
  %br
  :ruby
    extra_params = {}
    extra_params[:early_arrival_passes] = @ticket_request.early_arrival_passes
    extra_params[:late_departure_passes] = @ticket_request.late_departure_passes
    extra_params[:email] = @ticket_request.user.email
    extra_params[:name] = @ticket_request.user.name
  = link_to 'Early Arrival / Late Departure Passes',
    new_event_eald_payment_path(@event, extra_params),
    target: '_blank'
  must be purchased separately!

%p
  You can
  = link_to 'review your ticket information',
    event_ticket_request_path(@event, @ticket_request)
  at any time
  %br
  We look forward to seeing you at the event!

%p
  If you have any other questions, don't hesitate to contact us at
  = mail_to 'fnftickets@gmail.com'
