- form_action_name = action_name == 'edit' ? :update : :create
= form_for @ticket_request,
           url: { controller: :ticket_requests, action: form_action_name } do |f|
  = render 'shared/form_errors', resource: @ticket_request

  = f.hidden_field :event_id, value: @event.id

  - if @user
    %h3 Ticket Request for #{@user.name}
    = f.hidden_field :user_id, value: @user.id
  - else
    %p
      Already requested a ticket?
      = link_to 'Login', new_user_session_path, class: 'btn btn-primary'
    .field
      = label_tag :name, 'Name'
      = text_field_tag :name, nil, class: 'input-xlarge', maxlength: 70,
        required: true, placeholder: 'First and last name'
    .field
      = label_tag :email, 'Email'
      = email_field_tag :email, nil, class: 'input-xlarge',
        maxlength: 254, required: true, placeholder: 'email@example.com'
    .field
      = label_tag :password, 'Password'
      = password_field_tag :password, nil,
        placeholder: 'Must be at least 8 characters', required: true,
        maxlength: 255, class: 'input-xlarge'
    .field
      = label_tag :password_confirmation, 'Confirm Password'
      = password_field_tag :password_confirmation, nil, placeholder: '',
        maxlength: 255, required: true, class: 'input-xlarge'

  - if signed_in? && current_user.site_admin?
    .field.well
      = f.label :special_price, 'Special Ticket Price ($)'
      %p.text-error
        Editable by site-admins only. Leave blank to use default price.
      = f.number_field :special_price, class: 'input-small', min: 0

  .field
    = f.label :adults, 'Number of adults in your group (including you)'
    = f.number_field :adults, class: 'input-mini', min: 1, max: 6

  .field
    = f.label :kids, 'Number of children in your group (babes in arms are free)'
    %p.muted
      The cost of tickets for kids will be dependent on how many you
      bring with you.
      %br
      For now, tell us how many you would like to bring so we can
      get a head count.
    = f.number_field :kids, class: 'input-mini', min: 0, max: 6

  .field
    = f.label :cabins, 'How many cabins/tents did you want?'
    %p.muted
      Due to the limited number of available cabins/tents, we will not be
      able to grant all requests.
      %br
      We will contact you if this is the case.
    = f.number_field :cabins, class: 'input-mini', min: 0, max: 2

  .field
    = f.label :address, 'Mailing Address'
    %p.muted We'll mail your tickets to this address
    = f.text_area :address, class: 'input-xlarge',
      rows: 3, maxlength: 150, required: true

  .field
    = f.label :assistance, class: 'checkbox' do
      = f.check_box :assistance
      Do you require financial assistance or need to arrange a payment plan
      to purchase your ticket?
    %p.muted
      We never turn anyone away, and will work with you to figure
      something out.

  .field
    = f.label :notes, 'Anything else you want us to be aware of?'
    %p.muted
      For example, if you checked the box above, tell us what your situation is.
    = f.text_area :notes, class: 'input-xxlarge',
      rows: 3, maxlength: 500

  .actions
    = f.submit class: 'btn btn-primary'
