
.card
  .card-header.bg-primary-subtle
    .btn-group.fs-5
      = link_to download_event_ticket_requests_path(event, type: "active"), class: 'btn btn-warning ' do
        %i.icon-th-list
        Download CSV of Approved ▼
      = link_to download_event_ticket_requests_path(event, type: "all"), class: 'btn btn-warning ' do
        %i.icon-th-list
        Download CSV of All ▼
  .card-body
    .vertical-20

    %table.table.border-dark-subtle.border-2.overflow-scroll.w-100.shadow-lg

      %thead.border-dark-subtle.border-2

        %tr
          %th.text-nowrap.bg-dark-subtle.text-left Ticket Status
          %th.bg-dark-subtle.text-end.optional-medium Requests
          %th.bg-dark-subtle.text-end Tickets
          - if event.kid_ticket_price
            %th.bg-dark-subtle.text-end Kids
          - if event.cabin_price
            %th.bg-dark-subtle.text-end Cabins
          %th.bg-dark-subtle.text-end Earn

      %tbody.border-2.border-dark-subtle

        %tr.fs-6
          %td.bg-success-subtle
            %span.text-nowrap Paid
          %td.text-end.bg-success-subtle.optional-medium
            %span= stats[:completed][:requests]
          %td.text-end.bg-success-subtle
            %span= stats[:completed][:adults]
          - if event.kid_ticket_price
            %td.text-end.bg-success-subtle
              %span= stats[:completed][:kids]
          - if event.cabin_price
            %td.text-end.bg-success-subtle
              %span= stats[:completed][:cabins]
          %td.text-end.bg-success-subtle
            %span
              = number_to_currency(stats[:completed][:raised], precision: 0)

        %tr.fs-6
          %td.text-nowrap.bg-warning
            Pending Approval
          %td.text-end.bg-warning.optional-medium= stats[:pending][:requests]
          %td.text-end.bg-warning= stats[:pending][:adults]
          - if event.kid_ticket_price
            %td.text-end.bg-warning= stats[:pending][:kids]
          - if event.cabin_price
            %td.text-end.bg-warning= stats[:pending][:cabins]
          %td.text-end.bg-warning.fs-6
            = number_to_currency(stats[:pending][:raised], precision: 0)

        %tr.fs-6
          %td.text-nowrap.bg-warning-subtle
            Awaiting Payment
          %td.text-end.bg-warning-subtle.optional-medium= stats[:awaiting_payment][:requests]
          %td.text-end.bg-warning-subtle= stats[:awaiting_payment][:adults]
          - if event.kid_ticket_price
            %td.text-end.bg-warning-subtle= stats[:awaiting_payment][:kids]
          - if event.cabin_price
            %td.text-end.bg-warning-subtle= stats[:awaiting_payment][:cabins]
          %td.text-end.bg-warning-subtle.fs-6
            = number_to_currency(stats[:awaiting_payment][:raised], precision: 0)

        %tr.muted.border-1.border-dark-subtle.fs-6
          %td.bg-dark-subtle.text-start
            %strong
              Total
          %td.bg-dark-subtle.text-end.optional-medium= stats[:total][:requests]
          %td.bg-dark-subtle.text-end= stats[:total][:adults]
          - if event.kid_ticket_price
            %td.bg-dark-subtle.text-end= stats[:total][:kids]
          - if event.cabin_price
            %td.bg-dark-subtle.text-end= stats[:total][:cabins]
          %td.bg-dark-subtle.text-end.fs-5= number_to_currency(stats[:total][:raised], precision: 0)
