
.card
  .card-body.overflow-x-scroll
    %table.table.border-dark-subtle.border-2.shadow-lg

      %thead.border-dark-subtle.border-2

        %tr
          %th.bg-dark-subtle Name
          - if event.require_role
            %th.bg-dark-subtle Role
          %th.bg-dark-subtle Notes
          %th.bg-dark-subtle.text-end Tickets
          - if event.kid_ticket_price
            %th.bg-dark-subtle.text-end Kids
          - if event.allow_donations
            %th.bg-dark-subtle.text-end Donation
          %th.bg-dark-subtle.text-end Total
          %th.bg-dark-subtle.text-end Date Requested
          %th.bg-dark-subtle.text-center Status
          %th.bg-dark-subtle.text-center Payments


      %tbody.border-dark-subtle.border-2

        - ticket_requests.each do |ticket_request|
          %tr{ class: "ticket-request-row" }
            %td.align-content-center.ticket-user
              = link_to event_ticket_request_path(event, ticket_request) do
                = ticket_request.user.name

            -# If we role is required for the event, add the column for role
            - if event.require_role
              %td.muted.align-content-center
                = TicketRequest::ROLES[ticket_request.role]
                %i.icon-comment.hover-tooltip{ title: ticket_request.role_explanation }

            %td.align-content-center.text-start.text-nowrap
              - if ticket_request.notes.present?
                = tooltip_box(ticket_request.notes, title: "User Comments") do
                  = image_tag('icons/comments-user.png', width: 20, class: 'hover-tooltip')
              - if ticket_request.needs_assistance
                = tooltip_box('Financial Assistance was requested.') do
                  = image_tag('icons/dollar.png', width: 20, class: 'hover-tooltip')
              - if ticket_request.active_addon_camp_sum > 0
                = tooltip_box(ticket_request.active_addon_camp_sum, title:  "Camping:") do
                  = image_tag('icons/car.png', width: 20, class: 'hover-tooltip')
              - if ticket_request.active_addon_pass_sum > 0
                = tooltip_box(ticket_request.active_addon_pass_sum, title:  "Passes:") do
                  = image_tag('icons/pass.png', width: 20, class: 'hover-tooltip')
              - if ticket_request.admin_notes.present?
                = tooltip_box(ticket_request.admin_notes, title: "Admin Notes") do
                  = image_tag('icons/comments-admin.png', width: 20, class: 'hover-tooltip')

            %td.align-content-center.text-end= ticket_request.adults

            - if event.kid_ticket_price
              %td.align-content-center.text-end= ticket_request.kids

            - if event.allow_donations
              %td.align-content-center.text-end
                = number_to_currency(ticket_request.donation, precision: 0)

            %td.align-content-center.text-end
              %span{ class: ('label label-info' if ticket_request.special_price) }
                = number_to_currency(ticket_request.cost, precision: 0)

            %td.align-content-center.text-end
              = ticket_request.created_at.to_date

            %td.align-content-center.text-center.ticket-status
              %span.p-2.rounded.small.bi-credit-card.text-black{ class: text_class_for_status(ticket_request) }
                - if ticket_request.payment.present? && !ticket_request.payment.provider_stripe?
                  = "#{text_for_status ticket_request} - #{ticket_request.payment.provider.humanize}"
                  = tooltip_box(ticket_request.payment.explanation, title:  "Method:") do
                    = image_tag('icons/comments-user.png', width: 20, class: 'hover-tooltip')
                - else
                  = text_for_status ticket_request


            %td.align-content-end.text-center
              - if ticket_request.pending?
                - if event.tickets_require_approval
                  .btn-group
                    = button_to approve_event_ticket_request_path(event, ticket_request),
                      method: :post,
                      class: 'btn btn-primary btn-sm text-nowrap' do
                      ✔︎ Approve
                    = button_to decline_event_ticket_request_path(event, ticket_request),
                      method: :post,
                      class: 'btn btn-danger btn-sm text-nowrap',
                      data: { "turbo-confirm": "Are you sure you want to decline #{ticket_request.user.name}'s request?" } do
                      ✘ Decline
              .btn-group
                - if ticket_request.awaiting_payment?
                  = button_to manual_confirmation_event_ticket_request_payments_path(event, ticket_request),
                    method: :post,
                    class: 'btn btn-success btn-sm text-nowrap' do
                    Mark Received
                  = button_to decline_event_ticket_request_path(event, ticket_request),
                    method: :post,
                    class: 'btn btn-danger btn-sm text-nowrap',
                    data: { "turbo-confirm": "Are you sure you want to decline #{ticket_request.user.name}'s already approved request?" } do
                    ✘ Decline
                - if ticket_request.declined?
                  - button_text = event.tickets_require_approval ? '↩︎ Re-Approve' : '↩︎ Revert'
                  = button_to revert_to_pending_event_ticket_request_path(event, ticket_request),
                    method: :post,
                    class: 'btn btn-danger btn-sm text-nowrap' do
                    = button_text
                - if ticket_request.completed? && ticket_request.payment&.received?
                  = button_to refund_event_ticket_request_path(event, ticket_request),
                    method: :post,
                    class: 'btn btn-danger btn-sm text-nowrap',
                    data: { "turbo-confirm": "Are you sure you want to refund #{ticket_request.user.name}'s payment?'" } do
                    ↩︎ Refund