
.card
  .card-header.bg-primary-subtle
    .btn-group.fs-5
      = button_to download_event_ticket_requests_path(event, type: "active"),
                  class: 'btn btn-warning btn-sm text-nowrap' do
        Download CSV of Approved ▼

      = button_to download_event_ticket_requests_path(event, type: "all"),
                  class: 'btn btn-warning btn-sm text-nowrap' do
        Download CSV of All ▼

      = button_to payment_reminder_event_ticket_requests_path(event),
                  class: 'btn btn-warning btn-sm text-nowrap' do
        Payment Reminder for All Unpaid

  .card-body
    .vertical-20

    %table.table.border-dark-subtle.border-2.overflow-scroll.w-100.shadow-lg#ticket-request-summary

      %thead.border-dark-subtle.border-2

        %tr
          %th.text-nowrap.bg-dark-subtle.text-left Tickets Status
          %th.bg-dark-subtle.text-end Requests
          %th.bg-dark-subtle.text-end Tickets
          - if event.kid_ticket_price
            %th.bg-dark-subtle.text-end Kids Tix
          - if event.allow_donations
            %th.bg-dark-subtle.text-end Donations
          - if event.active_event_addons_passes_count > 0
            %th.bg-dark-subtle.text-end
              =Addon::HUMANIZED_CATEGORIES[Addon::CATEGORY_PASS]
          - if event.active_event_addons_camping_count > 0
            %th.bg-dark-subtle.text-end
              =Addon::HUMANIZED_CATEGORIES[Addon::CATEGORY_CAMP]
          %th.bg-dark-subtle.text-end Earn

      %tbody.border-2.border-dark-subtle

        %tr.fs-6
          %td.bg-success-subtle
            %span.text-nowrap Paid
          %td.text-end.bg-success-subtle
            %span= stats[:completed][:requests]
          %td.text-end.bg-success-subtle
            %span= stats[:completed][:adults]
          - if event.kid_ticket_price
            %td.text-end.bg-success-subtle
              %span= stats[:completed][:kids]
          - if event.allow_donations
            %td.text-end.bg-success-subtle
              %span
                = number_to_currency(stats[:completed][:donations], precision: 0)
          - if event.active_event_addons_passes_count > 0
            %td.text-end.bg-success-subtle
              %span= stats[:completed][:addon_passes]
          - if event.active_event_addons_camping_count > 0
            %td.text-end.bg-success-subtle
              %span= stats[:completed][:addon_camping]
          %td.text-end.bg-success-subtle
            %span
              = number_to_currency(stats[:completed][:raised], precision: 0)

        %tr.fs-6
          %td.text-nowrap.bg-warning
            Pending Approval
          %td.text-end.bg-warning= stats[:pending][:requests]
          %td.text-end.bg-warning= stats[:pending][:adults]
          - if event.kid_ticket_price
            %td.text-end.bg-warning= stats[:pending][:kids]
          - if event.allow_donations
            %td.text-end.bg-warning
              = number_to_currency(stats[:pending][:donations], precision: 0)
          - if event.active_event_addons_passes_count > 0
            %td.text-end.bg-warning= stats[:pending][:addon_passes]
          - if event.active_event_addons_camping_count > 0
            %td.text-end.bg-warning= stats[:pending][:addon_camping]
          %td.text-end.bg-warning.fs-6
            = number_to_currency(stats[:pending][:raised], precision: 0)

        %tr.fs-6
          %td.text-nowrap.bg-warning-subtle
            Awaiting Payment
          %td.text-end.bg-warning-subtle= stats[:awaiting_payment][:requests]
          %td.text-end.bg-warning-subtle= stats[:awaiting_payment][:adults]
          - if event.kid_ticket_price
            %td.text-end.bg-warning-subtle= stats[:awaiting_payment][:kids]
          - if event.allow_donations
            %td.text-end.bg-warning-subtle
              = number_to_currency(stats[:awaiting_payment][:donations], precision: 0)
          - if event.active_event_addons_passes_count > 0
            %td.text-end.bg-warning-subtle= stats[:awaiting_payment][:addon_passes]
          - if event.active_event_addons_camping_count > 0
            %td.text-end.bg-warning-subtle= stats[:awaiting_payment][:addon_camping]
          %td.text-end.bg-warning-subtle.fs-6
            = number_to_currency(stats[:awaiting_payment][:raised], precision: 0)

        %tr.muted.border-1.border-dark-subtle.fs-6
          %td.bg-dark-subtle.text-start
            %strong
              Total
          %td.bg-dark-subtle.text-end= stats[:total][:requests]
          %td.bg-dark-subtle.text-end= stats[:total][:adults]
          - if event.kid_ticket_price
            %td.bg-dark-subtle.text-end= stats[:total][:kids]
          - if event.allow_donations
            %td.bg-dark-subtle.text-end= number_to_currency(stats[:total][:donations], precision: 0)
          - if event.active_event_addons_passes_count > 0
            %td.bg-dark-subtle.text-end= stats[:total][:addon_passes]
          - if event.active_event_addons_camping_count > 0
            %td.bg-dark-subtle.text-end= stats[:total][:addon_camping]
          %td.bg-dark-subtle.text-end.fs-5= number_to_currency(stats[:total][:raised], precision: 0)
