%table.fs-6.w-97
  %tr
    %td.text-end.small.p-2.px-4.text-nowrap= "Name"
    %td
      %strong= ticket_request.user.name
  %tr
    %td.text-end.small.p-2.px-4.text-nowrap= "Email:"
    %td
      %strong
        = mail_to ticket_request.user.email

  %tr
    %td.text-end.small.p-2.px-4.text-nowrap= "Date Requested:"
    %td
      %strong=  ticket_request.created_at.localtime.to_formatted_s(:friendly)

  - if event.tickets_require_approval
    %tr
      %td.text-end.small.p-2.px-4.text-nowrap= "Status:"
      %td
        %strong
          %span.p-2.rounded{ class: text_class_for_status(ticket_request) }
            = ticket_request.status_name

  %tr
    %td.text-end.small.p-2.px-4.text-nowrap= "Payment:"
    %td
      %strong
      - if ticket_request.payment_received? || ticket_request.payment_refunded?
        %strong.span.p-2.rounded{ class: text_class_for_status(ticket_request) }
          = ticket_request.payment.status_name
      - elsif ticket_request.free?
        .text-success
          Free
      - else
        - if event.ticket_sales_open?
          - if !ticket_request.payment&.provider_stripe? && ticket_request.payment&.explanation?
            %strong.span.bg-warning Paying with: #{ticket_request.payment.explanation}
          - else
            - if ticket_request.all_guests_specified?
              - if ticket_request.approved?
                = link_to 'Buy Tickets', new_event_ticket_request_payment_path(event, ticket_request), class: 'btn btn-primary m-0'
              - else
                = "Waiting on ticket approval"
            - else
              .small
                You must register all of your guests before you can pay for your ticket.
              = link_to edit_event_ticket_request_path(event, ticket_request), class: 'btn btn-primary btn-round btn-sm mx-0' do
                = event.admin?(current_user) ? 'Add Their Guests' : 'Add My Guests'

        - else
          %span.bg-warning
            Unfortunately, ticket sales are now closed. You can no longer purchase your
            = succeed '.' do
              = 'ticket'.pluralize(ticket_request.total_tickets)

  %tr
    %td.text-end.small.p-2.px-4.text-nowrap= "Total Price:"
    %td
      %strong
        %span{ class: ('label label-info' if ticket_request.special_price) }
          = number_to_currency(ticket_request.price, precision: 0)

  %tr
    %td.text-end.small.p-2.px-4.text-nowrap= "Adult Tickets:"
    %td
      %strong
        = ticket_request.adults

  - if event.kid_ticket_price
    %tr
      %td.text-end.small.p-2.px-4.text-nowrap= "Kid Tickets:"
      %td
        %strong
          = ticket_request.kids

  - if ticket_request.ticket_request_event_addons?
    - ticket_request.active_sorted_addons.each do |tr_event_addon|
      %tr
        %td.text-end.small.p-2.px-4.text-nowrap
          = tr_event_addon.humanized_category + ':'
        %td
          %strong
            = "#{tr_event_addon.quantity} - #{tr_event_addon.name}"

  - if ticket_request.donation&.positive?
    %tr
      %td.text-end.small.p-2.px-4.text-nowrap= "Extra Donation:"
      %td
        %strong
          = number_to_currency(ticket_request.donation, precision: 0)
    %tr
      %td.text-end.small.p-2.px-4.text-nowrap= "Total Amount:"
      %td
        %strong
          = number_to_currency(ticket_request.cost, precision: 0)

  - if event.require_mailing_address
    %tr
      %td.text-end.small.p-2.px-4.text-nowrap= "Mailing Address:"
      %td
        %strong
          %address
            = ticket_request.address_line1
            - if ticket_request.address_line2.present?
              %br
              = ticket_request.address_line2
            %br
            #{ticket_request.city}, #{ticket_request.state}, #{ticket_request.zip_code}
            %br
            = ticket_request.country_name

  - if event.require_role
    %tr
      %td.text-end.small.p-2.px-4.text-nowrap= "Role:"
      %td
        %strong
          = TicketRequest::ROLES[ticket_request.role]
          - if ticket_request.role_explanation.present?
            %blockquote= ticket_request.role_explanation

  - if ticket_request.needs_assistance
    %tr
      %td.text-end.small.p-2.px-4.text-nowrap= "Financial Assistance Requested?:"
      %td
        %strong.bg-warning
          Yes, assistance requested.


  - if ticket_request.notes.present?
    %tr
      %td.text-end.small.p-2.px-4.text-nowrap= "Notes:"
      %td
        %strong
          = ticket_request.notes

  - if ticket_request.guest_count > 0
    %tr
      %td
      %td
        %hr
    %tr.align-middle
      %td.text-end.small.p-2.px-4.text-nowrap= 'Guest'.pluralize(ticket_request.guest_count) + ':'
      %td
        %em
          - ticket_request.guest_count.times do |guest_id|
            .text-nowrap.small
              = Array(ticket_request.guests)[guest_id] || 'Unspecified'
              %br
    %tr
      %td
      %td
        %hr

  - if event.admin?(current_user) && ticket_request.admin_notes.present?
    %tr
      %td.text-end.small.p-2.px-4.text-nowrap= "Notes:"
      %td
        %strong Ticket Coordinator Notes:
        %p.small
          = ticket_request.admin_notes
