= ticket_request_form.fields_for :user, ticket_request.user || User.new do |ff|
  = ff.label :email, class: 'required-label' do
    Email (username)
  = ff.email_field :email,
          maxlength: User::MAX_EMAIL_LENGTH, required: true,
          placeholder: 'email@example.com',
          data: { lookup_url: emails_path },
          value: @user&.email

  .alert.alert-block.hidden#email-warning
    %h4 Hey! It looks like you requested tickets with this email last year.
    %p
      = link_to 'Sign in', new_user_session_path
      so we can fill most of this form for you!
      %br
      = surround '(', ')' do
        or we can send you a
        = link_to 'password reset email', new_user_password_path,
                        data: { reset_url: reset_passwords_path },
                        id: 'password-reset-link'

  .alert.alert-block.hidden#email-reset-sent
    %h4 Password reset email sent!
    %p
      Check your email!

  .btn-group-sm
    = ff.label :first, 'First Name', class: 'required-label'
    = ff.text_field :first,
            maxlength: User::MAX_NAME_LENGTH, required: true,
            placeholder: 'First and last name',
            value: @user&.first

    = ff.label :last, 'Last Name', class: 'required-label'
    = ff.text_field :last,
            maxlength: User::MAX_NAME_LENGTH, required: true,
            placeholder: 'First and last name',
            value: @user&.last

  .btn-group-sm
    = ff.label :password, 'Create Password', class: 'required-label'
    = ff.password_field :password,
            required: true,
            maxlength: User::MAX_PASSWORD_LENGTH

    = ff.label :password_confirmation, 'Confirm Password', class: 'required-label'
    = ff.password_field :password_confirmation,
            required: true,
            maxlength: User::MAX_PASSWORD_LENGTH
