= render partial: 'shared/nav_event', locals: { event: @event, active_tab: { ticket_requests: 'active' } }

.card
  .card-header.bg-body-secondary
    .btn-group.mx-4
      = link_to download_event_ticket_requests_path(@event), class: 'btn btn-warning btn-lg' do
        %i.icon-th-list
        Download CSV ▼
  .card-body
    .vertical-20
    %table.table.border-1
      %thead.border-1.border-dark-subtle
        %tr
          %th.text-nowrap.bg-dark-subtle{align: "left"} Ticket Status
          %th.bg-dark-subtle{align: "center"} Requests
          %th.bg-dark-subtle{align: "center"}
            Tickets
          - if @event.kid_ticket_price
            %th.bg-dark-subtle{align: "center"} Kids
          - if @event.cabin_price
            %th.bg-dark-subtle{align: "center"} Cabins
          %th.bg-dark-subtle{align: "center"} Earn
      %tbody
        %tr
          %td
            %span.lead.text-nowrap Paid
          %td{align: "center"}
            %span.lead= @stats[:completed][:requests]
          %td{align: "center"}
            %span.lead= @stats[:completed][:adults]
          - if @event.kid_ticket_price
            %td{align: "center"}
              %span.lead= @stats[:completed][:kids]
          - if @event.cabin_price
            %td{align: "center"}
              %span.lead= @stats[:completed][:cabins]
          %td{align: "center"}
            %span.lead
              = number_to_currency(@stats[:completed][:raised], precision: 0)
        %tr.warning
          %td.text-nowrap
            Pending Approval
          %td{align: "center"}= @stats[:pending][:requests]
          %td{align: "center"}= @stats[:pending][:adults]
          - if @event.kid_ticket_price
            %td{align: "center"}= @stats[:pending][:kids]
          - if @event.cabin_price
            %td{align: "center"}= @stats[:pending][:cabins]
          %td{align: "center"}
            %span.muted
              = number_to_currency(@stats[:pending][:raised], precision: 0)
        %tr.success
          %td.text-nowrap
            Awaiting Payment
          %td{align: "center"}= @stats[:awaiting_payment][:requests]
          %td{align: "center"}= @stats[:awaiting_payment][:adults]
          - if @event.kid_ticket_price
            %td{align: "center"}= @stats[:awaiting_payment][:kids]
          - if @event.cabin_price
            %td{align: "center"}= @stats[:awaiting_payment][:cabins]
          %td{align: "center"}
            %span.muted
              = number_to_currency(@stats[:awaiting_payment][:raised], precision: 0)
        %tr.muted.border-1.border-dark-subtle
          %td.bg-dark-subtle
            Total
          %td.bg-dark-subtle{align: "center"}= @stats[:total][:requests]
          %td.bg-dark-subtle{align: "center"}= @stats[:total][:adults]
          - if @event.kid_ticket_price
            %td.bg-dark-subtle{align: "center"}= @stats[:total][:kids]
          - if @event.cabin_price
            %td.bg-dark-subtle{align: "center"}= @stats[:total][:cabins]
          %td.bg-dark-subtle{align: "center"}= number_to_currency(@stats[:total][:raised], precision: 0)

    .vertical-20
    %hr
    .vertical-20

    %table.table
      %thead.border-1.border-dark-subtle
        %tr
          %th.bg-dark-subtle Name
          %th.bg-dark-subtle Role
          %th.bg-dark-subtle
          %th.bg-dark-subtle Tickets
          - if @event.kid_ticket_price
            %th.bg-dark-subtle Kids
          - if @event.cabin_price
            %th.bg-dark-subtle Cabins
          - if @event.eald?
            %th.bg-dark-subtle EA/LD
          %th.bg-dark-subtle Price
          %th.bg-dark-subtle Date Requested
          %th.bg-dark-subtle Status
          %th.bg-dark-subtle
      %tbody
        - @ticket_requests.each do |ticket_request|
          %tr{ class: class_for_table_row(ticket_request) }
            %td
              = link_to event_ticket_request_path(@event, ticket_request) do
                = ticket_request.user.name
            %td.muted
              = TicketRequest::ROLES[ticket_request.role]
              - if ticket_request.role_explanation.present?
                %i.icon-comment.hover-tooltip{ title: ticket_request.role_explanation }
            %td
              - if ticket_request.admin_notes.present?
                %i.icon-asterisk.hover-tooltip{ title: 'Ticket Coordinator Notes: ' + ticket_request.admin_notes }
              - if ticket_request.car_camping
                = image_tag('car.png',
                  width: 16,
                  class: 'hover-tooltip',
                  title: 'User has requested a car/RV camping spot because: ' + ticket_request.car_camping_explanation)
              - if ticket_request.needs_assistance
                = image_tag('bank.png', width: 16, class: 'hover-tooltip', title: 'User has requested financial assistance')
              - if ticket_request.notes.present?
                %i.icon-comment.hover-tooltip{ title: 'Additional requests or comments: ' + ticket_request.notes }

            %td= ticket_request.adults
            - if @event.kid_ticket_price
              %td= ticket_request.kids
            - if @event.eald?
              %td
                #{ticket_request.early_arrival_passes} / #{ticket_request.late_departure_passes}
                - if eald_requested?(ticket_request)
                  - if eald_paid?(ticket_request)
                    %i.text-success.icon-ok-sign.hover-tooltip{ title: 'All requested EA/LD passes have been purchased' }
                  - else
                    %i.text-warning.icon-question-sign.hover-tooltip{ title: 'Not all requested EA/LD passes have been purchased' }
            %td
              %span{ class: ('label label-info' if ticket_request.special_price) }
                = number_to_currency(ticket_request.price, precision: 0)
            %td
              = ticket_request.created_at.localtime.to_formatted_s(:month_day)
            %td
              %span{ class: text_class_for_status(ticket_request) }
                = text_for_status ticket_request
                - if ticket_request.payment && !ticket_request.payment.received?
                  %i.icon-comment.hover-tooltip{ title: ticket_request.payment.explanation }
            %td
              - if @event.tickets_require_approval && ticket_request.pending?
                .btn-group.pull-right
                  = button_to approve_event_ticket_request_path(@event, ticket_request),
                    method: :post,
                    class: 'btn btn-primary' do
                    Approve
                    %i.icon-ok
                  = button_to decline_event_ticket_request_path(@event, ticket_request),
                    method: :post,
                    class: 'btn btn-danger',
                    data: { confirm: "Are you sure you want to decline #{ticket_request.user.name}'s request?" } do
                    Decline
                    %i.icon-remove
              - elsif !ticket_request.payment
                .btn-group.pull-right
                  - if ticket_request.declined?
                    = button_to revert_to_pending_event_ticket_request_path(@event, ticket_request),
                      method: :post,
                      class: 'btn btn-link' do
                      %span.hover-tooltip{ title: 'Reset status of request to Pending', data: { placement: 'left' } }
                        Revert
                  - elsif !ticket_request.completed?
                    = button_to resend_approval_event_ticket_request_path(@event, ticket_request),
                      method: :post,
                      class: 'btn btn-link' do
                      Resend Approval
                    = button_to decline_event_ticket_request_path(@event, ticket_request),
                      method: :post,
                      class: 'btn btn-link',
                      data: { confirm: "Are you sure you want to decline #{ticket_request.user.name}'s already approved request?" } do
                      %span.text-error Decline

              - elsif ticket_request.payment && !ticket_request.payment.received?
                .btn-group.pull-right
                  = button_to confirm_event_ticket_request_payments_path(@event, ticket_request),
                    method: :post,
                    class: 'btn btn-primary' do
                    Mark Payment Received
                    %i.icon-ok
