%h1 #{@event.name} Ticket Requests

.btn-group
  = link_to event_path(@event), class: 'btn' do
    %i.icon-arrow-left
    Event

%table.table
  %thead
    %tr
      %th
      %th Requests
      %th Adults
      %th Kids
      %th Cabins
      %th Potential Earn
  %tbody
    %tr
      %td
        %b Total
      %td= @stats[:potential][:requests]
      %td= @stats[:potential][:adults]
      %td= @stats[:potential][:kids]
      %td= @stats[:potential][:cabins]
      %td
        %span.label
          = number_to_currency(@stats[:potential][:raised], precision: 0)
    %tr.warning
      %td
        %b Pending
      %td= @stats[:pending][:requests]
      %td= @stats[:pending][:adults]
      %td= @stats[:pending][:kids]
      %td= @stats[:pending][:cabins]
      %td
        %span.label.label-warning
          = number_to_currency(@stats[:pending][:raised], precision: 0)
    %tr.success
      %td
        %b Approved
      %td= @stats[:approved][:requests]
      %td= @stats[:approved][:adults]
      %td= @stats[:approved][:kids]
      %td= @stats[:approved][:cabins]
      %td
        %span.label.label-success
          = number_to_currency(@stats[:approved][:raised], precision: 0)
    %tr.error
      %td
        %b Declined
      %td= @stats[:declined][:requests]
      %td= @stats[:declined][:adults]
      %td= @stats[:declined][:kids]
      %td= @stats[:declined][:cabins]
      %td
        %span.label.label-important
          = number_to_currency(@stats[:declined][:raised], precision: 0)

%table.table
  %thead
    %tr
      %th Name
      %th Adults
      %th Kids
      %th Cabins
      %th Price
      %th
      %th
      %th Status
      %th
  %tbody
    - @ticket_requests.each do |ticket_request|
      %tr{ class: class_for_table_row(ticket_request) }
        %td
          = link_to ticket_request.user.name, event_ticket_request_path(@event, ticket_request)
          - if !ticket_request.performer
            = link_to event_ticket_request_path(@event, ticket_request) do
              %i.icon-star.hover-tooltip{ title: 'User has indicated they are a DJ or performer of some kind' }
        %td= ticket_request.adults
        %td= ticket_request.kids
        %td= ticket_request.cabins
        %td
          %span.label{ class: ('label-info' if ticket_request.special_price) }
            = number_to_currency(ticket_request.price, precision: 0)
        %td
          - if ticket_request.needs_assistance
            %span.text-error Financial Aid Needed
        %td
          - if ticket_request.notes.present?
            = link_to 'Additional Notes', event_ticket_request_path(@event, ticket_request)
        %td
          %span{ class: text_class_for_status(ticket_request) }
            = text_for_status ticket_request
        %td
          - if ticket_request.pending?
            .btn-group
              = link_to approve_event_ticket_request_path(@event, ticket_request),
                method: :post,
                class: 'btn btn-primary' do
                Approve
                %i.icon-ok
              = link_to decline_event_ticket_request_path(@event, ticket_request),
                method: :post,
                class: 'btn btn-danger',
                confirm: "Are you sure you want to decline #{ticket_request.user.name}'s request?" do
                Decline
                %i.icon-remove
