%h1 #{@event.name} Ticket Requests

.btn-group
  = link_to event_path(@event), class: 'btn' do
    %i.icon-arrow-left
    Event

%table.table
  %thead
    %tr
      %th
      %th Requests
      %th Adults
      %th Kids
      %th Cabins
      %th Earn
  %tbody
    %tr.warning
      %td
        Pending Approval
      %td= @stats[:pending][:requests]
      %td= @stats[:pending][:adults]
      %td= @stats[:pending][:kids]
      %td= @stats[:pending][:cabins]
      %td
        %span.muted
          = number_to_currency(@stats[:pending][:raised], precision: 0)
          %small (potential)
    %tr.success
      %td
        Awaiting Payment
      %td= @stats[:awaiting_payment][:requests]
      %td= @stats[:awaiting_payment][:adults]
      %td= @stats[:awaiting_payment][:kids]
      %td= @stats[:awaiting_payment][:cabins]
      %td
        %span.muted
          = number_to_currency(@stats[:awaiting_payment][:raised], precision: 0)
          %small (potential)
    %tr
      %td
        Paid
      %td= @stats[:completed][:requests]
      %td= @stats[:completed][:adults]
      %td= @stats[:completed][:kids]
      %td= @stats[:completed][:cabins]
      %td
        %span.label.label-success
          = number_to_currency(@stats[:completed][:raised], precision: 0)
    %tr.muted
      %td
        Total
      %td= @stats[:total][:requests]
      %td= @stats[:total][:adults]
      %td= @stats[:total][:kids]
      %td= @stats[:total][:cabins]
      %td
        = number_to_currency(@stats[:total][:raised], precision: 0)
        %small (potential)

%table.table
  %thead
    %tr
      %th Name
      %th
      %th Adults
      %th Kids
      %th Cabins
      %th Price
      %th Date Requested
      %th Status
      %th
  %tbody
    - @ticket_requests.each do |ticket_request|
      %tr{ class: class_for_table_row(ticket_request) }
        %td
          = link_to event_ticket_request_path(@event, ticket_request) do
            = ticket_request.user.name
        %td
          - if ticket_request.performer
            %i.icon-star.hover-tooltip{ title: 'User has indicated they are a DJ or performer of some kind' }
          - if ticket_request.needs_assistance
            %i.icon-flag.hover-tooltip{ title: 'User has indicated they need financial assistance' }
          - if ticket_request.notes.present?
            %i.icon-comment.hover-tooltip{ title: ticket_request.notes }
        %td= ticket_request.adults
        %td= ticket_request.kids
        %td= ticket_request.cabins
        %td
          %span{ class: ('label label-info' if ticket_request.special_price) }
            = number_to_currency(ticket_request.price, precision: 0)
        %td
          = ticket_request.created_at.localtime.to_s(:month_day)
        %td
          %span{ class: text_class_for_status(ticket_request) }
            = text_for_status ticket_request
        %td
          - if @event.tickets_require_approval && ticket_request.pending?
            .btn-group.pull-right
              = link_to approve_event_ticket_request_path(@event, ticket_request),
                method: :post,
                class: 'btn btn-primary' do
                Approve
                %i.icon-ok
              = link_to decline_event_ticket_request_path(@event, ticket_request),
                method: :post,
                class: 'btn btn-danger',
                confirm: "Are you sure you want to decline #{ticket_request.user.name}'s request?" do
                Decline
                %i.icon-remove
