= content_for(:title, "#{@event.name} Ticket Request" )

.container-fluid
  .row
    .col-sm-12.col-md-12.col-lg-5.col-xl-5
      .card
        .card-header.bg-dark-subtle
          %h4= @event.name

        .card-body.bg-body-secondary
          - if @event.ticket_requests_open?
            = render partial: "events/event_summary"

          - else
            %h5 Ticket sales for #{@event.name} have closed
            %p.lead
              If you already purchased a ticket,
              = link_to 'sign in', new_user_session_path
              to your account to review the details

          - if @event.tickets_require_approval
            .card-footer.bg-warning-subtle.p-2
            %p
              %strong
                Please fill out the form to request tickets.
                %br
                If your request is approved, you'll receive an email with further instructions.


    - if @event.ticket_requests_open?
      .col-sm-12.col-md-12.col-lg-7.col-xl-7
        = render 'form'

