%h2 #{@event.name} Ticket Request

%p.lead
- if @ticket_request.user == current_user
  - if @ticket_request.pending?
    %p.lead
      Thanks for requesting a ticket!
      %br
      You'll receive an email when your request is approved.
  - elsif @payment
    %p.lead
      Thanks for paying for your
      = succeed '!' do
        = 'ticket'.pluralize(@ticket_request.total_tickets)
    %p
      You're all set. If you get a chance, we could really use some
      = link_to 'volunteers', event_shifts_path(@event)
      to help run the event.
  %hr

%p
  %b Name:
  = @ticket_request.user.name

%p
  %b Date Requested:
  = @ticket_request.created_at.localtime.to_s(:friendly)

%p
  %b Status:
  %span{ class: text_class_for_status(@ticket_request) }
    = text_for_status @ticket_request
  - if @event.admin?(current_user) && @ticket_request.pending?
    .btn-group
      = link_to approve_event_ticket_request_path(@event, @ticket_request),
        method: :post,
        class: 'btn btn-primary btn-mini' do
        Approve
        %i.icon-ok
      = link_to decline_event_ticket_request_path(@event, @ticket_request),
        method: :post,
        class: 'btn btn-danger btn-mini',
        data: { confirm: "Are you sure you want to decline #{@ticket_request.user.name}'s request?" } do
        Decline
        %i.icon-remove

- if @ticket_request.approved? || @ticket_request.completed?
  %p
    %b Payment:
    - if @payment
      - if @ticket_request.refunded?
        %span.text-warning Refunded
      - else
        = link_to 'Received', payment_path(@payment)
        - if @event.admin?(current_user)
          = link_to 'Refund', refund_event_ticket_request_path(@event, @ticket_request),
            method: :post,
            class: 'btn btn-small btn-danger',
            data: { confirm: "Are you sure you want to refund #{@ticket_request.user.name}'s ticket?'",
                    disable_with: 'Refunding...'}
    - else
      Not yet received.
      - if @event.ticket_sales_open?
        = link_to 'Purchase your ticket now',
          new_payment_path(ticket_request_id: @ticket_request),
          class: 'btn btn-small btn-primary'
      - else
        %span.text-warning
          Unfortunately, ticket sales are now closed. You can no longer purchase your
          = succeed '.' do
            = 'ticket'.pluralize(@ticket_request.total_tickets)

%p
  %b Email:
  = mail_to @ticket_request.user.email

- if @event.require_mailing_address
  %p
    %b Mailing Address:
    %address
      = simple_format @ticket_request.address

%p
  %b Adult Tickets:
  = @ticket_request.adults

%p
  %b Child Tickets:
  = @ticket_request.kids

%p
  %b Cabins:
  = @ticket_request.cabins

- if @event.ticket_sales_open?
  = link_to new_event_ticket_request_path(@event), class: 'btn' do
    %i.icon-plus-sign-alt
    Request More Tickets

- if current_user.site_admin?
  %p
    %b Total Ticket Price:
    %span{ class: ('label label-info' if @ticket_request.special_price) }
      = number_to_currency(@ticket_request.price, precision: 0)

- if @ticket_request.needs_assistance
  %p.text-warning
    %b Financial assistance or custom payment plan requested

- if @ticket_request.notes.present?
  %p
    %b Notes:
    = @ticket_request.notes

- if @event.admin?(current_user)
  .btn-group
    = link_to event_ticket_requests_path(@event), class: 'btn' do
      %i.icon-arrow-left
      All Requests

    = link_to edit_event_ticket_request_path(@event, @ticket_request), class: 'btn' do
      Edit
      %i.icon-edit
