%div{"data-controller": "popovers"}

.card
  .card-header.bg-dark-subtle
    = content_for(:title, "#{@event.name} — Ticket Request")
    %h4
      = @event.name
    .h5
      Ticket Request for #{@ticket_request.total_tickets} tickets for
      = @ticket_request.user.name

  .card-body
    - if @event.admin?(current_user) && @ticket_request.pending?
      .card
        .card-header.bg-warning-subtle
          %h5 Admin Section
        .card-body.bg-white
          .btn-group.p-2
            = button_to approve_event_ticket_request_path(@event, @ticket_request),
              method: :post,
              class: 'btn btn-primary btn-mini mx-3' do
              ✔︎ Approve
              %i.icon-ok
            = button_to decline_event_ticket_request_path(@event, @ticket_request),
              method: :post,
              class: 'btn btn-danger btn-mini',
              data: { confirm: "Are you sure you want to decline #{@ticket_request.user.name}'s request?" } do
              ✘ Decline Request

    %p.lead
      %h5
        Ticket Status:
        = @ticket_request.status_name

    - if @ticket_request.user == current_user
      - if @ticket_request.pending?
        %p.lead
          Thanks for requesting a ticket!
          %br
          You'll receive an email at
          %b= @ticket_request.user.email
          if your request is approved.
      - elsif @payment&.in_progress?
        %p.lead
          We are waiting on your payment for
          = succeed '!' do
            = 'ticket'.pluralize(@ticket_request.total_tickets)
      - elsif @payment&.received?
        %p.lead
          Thanks for paying for your
          = succeed '!' do
            = 'ticket'.pluralize(@ticket_request.total_tickets)

      %hr

      = render partial: 'ticket_request_show', locals: { event: @event, ticket_request: @ticket_request, payment: @payment }

    .card-footer.bg-body-secondary.border-dark-subtle
      .row
        .col-8
          .btn-group
            - if @event.admin?(current_user) || @ticket_request.guest_count > 0
              = link_to edit_event_ticket_request_path(@event, @ticket_request), class: 'btn btn-primary btn-round btn-sm mx-0 fs-6' do
                = @event.admin?(current_user) ? 'Edit Ticket Request' : 'Edit Guests'

            - if signed_in? && @ticket_request.can_be_cancelled?(by_user: current_user)
              = button_to " ✘ Cancel Ticket Request", event_ticket_request_path(@event, @ticket_request), class: 'btn btn-warning btn-mdsm', method: :delete, data: { "turbo-confirm": "Are you sure you want to delete this ticket request?" }

        - if @event.admin?(current_user)
          .col-4.text-end
            = link_to event_ticket_requests_path(@event), class: 'btn btn-secondary btn-sm btn-round fs-6' do
              All Ticket Requests




