.card
  .card-header.bg-dark-subtle
    = content_for(:title, "#{@event.name} — Ticket Request")
    %h4= @event.name

  .card-body
    %p.lead
      %h5
        Ticket Status:
        = @ticket_request.status_name

    - if @event.admin?(current_user) && @ticket_request.pending?
      %hr
      .btn-group.p-2
        = button_to approve_event_ticket_request_path(@event, @ticket_request),
          method: :post,
          class: 'btn btn-primary btn-mini mx-3' do
          Approve
          %i.icon-ok
        = button_to decline_event_ticket_request_path(@event, @ticket_request),
          method: :post,
          class: 'btn btn-danger btn-mini',
          data: { confirm: "Are you sure you want to decline #{@ticket_request.user.name}'s request?" } do
          Decline
          %i.icon-remove
            = text_for_status @ticket_request

    - if @ticket_request.user == current_user
      - if @ticket_request.pending?
        %p.lead
          Thanks for requesting a ticket!
          %br
          You'll receive an email at
          %b= @ticket_request.user.email
          if your request is approved.
      - elsif @payment&.in_progress?
        %p.lead
          We are waiting on your payment for
          = succeed '!' do
            = 'ticket'.pluralize(@ticket_request.total_tickets)
      - elsif @payment&.received?
        %p.lead
          Thanks for paying for your
          = succeed '!' do
            = 'ticket'.pluralize(@ticket_request.total_tickets)

      %hr
      %table.fs-6.w-97
        %tr
          %td.text-end.small.p-2.px-4.text-nowrap= "Name"
          %td
            %strong= @ticket_request.user.name

        %tr
          %td.text-end.small.p-2.px-4.text-nowrap= "Date Requested:"
          %td
            %strong=  @ticket_request.created_at.localtime.to_formatted_s(:friendly)

        %tr
          %td.text-end.small.p-2.px-4.text-nowrap= "Status:"
          %td
            %strong
              %span.p-2.rounded{ class: text_class_for_status(@ticket_request) }
                = @ticket_request.status_name

        - if @ticket_request.can_purchase?
          %tr
            %td.text-end.small.p-2.px-4.text-nowrap= "Total Tickets Price:"
            %td
              %strong
                %span{ class: ('label label-info' if @ticket_request.special_price) }
                  = number_to_currency(@ticket_request.price, precision: 0)

          %tr
            %td.text-end.small.p-2.px-4.text-nowrap= "Payment:"
            %td
              %strong
              - if @ticket_request.payment_received?
                - if @ticket_request.refunded?
                  %span.bg-success Refunded
                - else
                  .text-success
                    = link_to 'Received', event_ticket_request_payment_path(@payment, @ticket_request)

                  - if @event.admin?(current_user)
                    = link_to 'Refund', refund_event_ticket_request_path(@event, @ticket_request),
                      method: :post,
                      class: 'btn btn-sm btn-danger',
                      data: { confirm: "Are you sure you want to refund #{@ticket_request.user.name}'s ticket? This cannot be undone!",
                              disable_with: 'Refunding...' }
              - elsif @ticket_request.free?
                .text-success
                  Free
              - else
                - if @event.ticket_sales_open?
                  - if @ticket_request.payment.present? && @ticket_request.payment.explanation.present?
                    %span.bg-warning Paying with #{@ticket_request.payment.explanation}
                  - else
                    = link_to 'Purchase your ticket now',
                      new_event_ticket_request_payment_path(@event, @ticket_request),
                      class: 'btn btn-primary m-0'
                - else
                  %span.bg-warning
                    Unfortunately, ticket sales are now closed. You can no longer purchase your
                    = succeed '.' do
                      = 'ticket'.pluralize(@ticket_request.total_tickets)

        %tr
          %td.text-end.small.p-2.px-4.text-nowrap= "Email:"
          %td
            %strong
              = mail_to @ticket_request.user.email

        - if @event.require_mailing_address
          %tr
            %td.text-end.small.p-2.px-4.text-nowrap= "Mailing Address:"
            %td
              %strong
                %address
                  = @ticket_request.address_line1
                  - if @ticket_request.address_line2.present?
                    %br
                    = @ticket_request.address_line2
                  %br
                  #{@ticket_request.city}, #{@ticket_request.state}, #{@ticket_request.zip_code}
                  %br
                  = @ticket_request.country_name

        %tr
          %td.text-end.small.p-2.px-4.text-nowrap= "Role:"
          %td
            %strong
              = TicketRequest::ROLES[@ticket_request.role]
              - if @ticket_request.role_explanation.present?
                %blockquote= @ticket_request.role_explanation


        %tr
          %td.text-end.small.p-2.px-4.text-nowrap= "Adult Tickets:"
          %td
            %strong
              = @ticket_request.adults


        - if @event.kid_ticket_price
          %tr
            %td.text-end.small.p-2.px-4.text-nowrap= "Kid Tickets:"
            %td
              %strong
                = @ticket_request.kids

        - if @event.cabin_price
          %tr
            %td.text-end.small.p-2.px-4.text-nowrap= "Cabins:"
            %td
              %strong Cabins:
              = @ticket_request.cabins

        - if @ticket_request.previous_contribution.present?
          %tr
            %td.text-end.small.p-2.px-4.text-nowrap= "Contribution(s) last year:"
            %td
              %strong
                = @ticket_request.previous_contribution


        - if @ticket_request.car_camping
          %tr
            %td.text-end.small.p-2.px-4.text-nowrap= "Car Camping Requested because:"
            %td
              %strong
                = @ticket_request.car_camping_explanation

        - if @ticket_request.needs_assistance
          %tr
            %td.text-end.small.p-2.px-4.text-nowrap= "Financial Assistance Requested?:"
            %td
              %strong.bg-warning
                Yes, financial assistance is requested.


        - if @ticket_request.notes.present?
          %tr
            %td.text-end.small.p-2.px-4.text-nowrap= "Notes:"
            %td
              %strong
                = @ticket_request.notes

        - if @ticket_request.guest_count > 0
          %tr
            %td
            %td
              %hr
          %tr.align-middle
            %td.text-end.small.p-2.px-4.text-nowrap= 'Guest'.pluralize(@ticket_request.guest_count) + ':'
            %td
              %em
                - @ticket_request.guest_count.times do |guest_id|
                  .text-nowrap.small
                    = Array(@ticket_request.guests)[guest_id] || 'Unspecified'
                    %br
          %tr
            %td
            %td
              %hr

        - if @event.admin?(current_user) && @ticket_request.admin_notes.present?
          %tr
            %td.text-end.small.p-2.px-4.text-nowrap= "Notes:"
            %td
              %h4 Ticket Coordinator Notes:
              %p.small
                = @ticket_request.admin_notes

        - if @payment && @event.eald?
          %tr
            %td.text-end.small.p-2.px-4.text-nowrap
              Planning to arrive early
              %br
              or leave late?
            %td
              :ruby
                extra_params = {}
                extra_params[:early_arrival_passes] = @ticket_request.early_arrival_passes
                extra_params[:late_departure_passes] = @ticket_request.late_departure_passes
                extra_params[:email] = @ticket_request.user.email
                extra_params[:name] = @ticket_request.user.name
              = link_to 'Early Arrival / Late Departure Passes',
                new_event_eald_payment_path(@event, extra_params),
                class: 'small',
                target: '_blank'
              must be purchased separately!

    .card-footer.bg-body-secondary.border-2
      .btn-group
        - if @event.admin?(current_user)
          = link_to event_ticket_requests_path(@event), class: 'btn btn-success btn-round btn-sm' do
            All Requests

        - if @event.admin?(current_user) || @ticket_request.guest_count > 0
          = link_to edit_event_ticket_request_path(@event, @ticket_request), class: 'btn btn-primary btn-round btn-sm mx-0' do
            = @event.admin?(current_user) ? 'Edit Ticket Request' : 'Edit Guests'

        - if signed_in? && @ticket_request.user.id == current_user&.id && !@ticket_request.payment_received?
          = button_to " ✘ Cancel My Ticket Request", event_ticket_request_path(@event, @ticket_request), class: 'btn btn-warning', method: :delete, data: { "turbo-confirm": "Are you sure you want to delete this ticket request?" }



