!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = csrf_meta_tags
    = yield :meta

    %title
      = PRODUCT_NAME
      - if content_for?(:title)
        &mdash;
        = yield(:title)

    /[if lt IE9]
      %script{ src: '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js',
               type: 'text/javascript' }

    = stylesheet_link_tag 'application', media: 'all'

    = yield :head

  %body
    .navbar
      .navbar-inner
        .container
          %a.brand{ href: root_path }
            = PRODUCT_NAME
          %ul.nav.pull-right
            - if user_signed_in?
              %li
                = link_to edit_user_registration_path do
                  %i.icon-user
                  = current_user.name
              %li
                = link_to 'Sign Out', destroy_user_session_path, method: :delete
            - else
              %li= link_to 'Sign Up', new_user_registration_path
              %li= link_to 'Login', new_user_session_path
    .container
      = bootstrap_flash
      = yield

      %footer
        %hr
        %p.muted.text-center
          &copy; #{PRODUCT_NAME} 2013 &mdash; A community-organized event

    = javascript_include_tag 'application'
