!!!
%html{ lang: 'en', 'data-bs-theme': 'light' }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "#{stripe_publishable_api_key}", :name => "stripe-key"}/
    %link{:href => "/icons/nav-bar-logo.png", :rel => "shortcut icon", :type => "image/png"}/

    %title
      = PRODUCT_NAME
      - if content_for?(:title)
        &mdash;
        = yield(:title)

    = csrf_meta_tags
    = csp_meta_tag
    = yield :heads

    %link{:href => "/manifest.json", :rel => "manifest"}/

    // Stripe
    %script{:src => "https://js.stripe.com/v3/"}

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"

  %body
    = render partial: "shared/navigation"
    .container
      %turbo-frame#flash_container{"data-controller": "flash", "data-flash-target": "flash"}
        = render "shared/flash"
      .row
        .col-3.col-md-3
        .col-6.col-md-6
        .col-3.col-md-3

      .row
        .col-1.col-md-1
        .col-10.col-md-10
          = yield
        .col-1.col-md-1

    #footer
      .container
        %p.muted.text-center#footer-text
          %small
            Crafted with ♡

