!!!
%html{ lang: 'en', 'data-bs-theme': 'light' }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "#{controller.send(:stripe_publishable_api_key)}", :name => "stripe-key"}/
    %meta{:name => "turbo-visit-control", content: "reload" }/
    %link{:href => "/icons/android-chrome-192x192.png", :rel => "shortcut icon", :type => "image/png"}/
    %link{:href => "https://fonts.googleapis.com", :rel => "preconnect"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Oswald:wght@200..700&display=swap", :rel => "stylesheet"}/
    %script{src: "https://js.stripe.com/v3/", crossorigin: "anonymous", async: true}

    %title
      - if content_for?(:title)
        = yield(:title)
      - else
        = PRODUCT_NAME

    = csrf_meta_tags
    = csp_meta_tag
    = yield :heads

    %link{:href => "/manifest.json", :rel => "manifest"}/

    = turbo_include_tags

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"

  %body.m-0.p-0
    .container-fluid.main-container.w-100.align-content-center.m-0.p-0
      .row
        .col-sm-12.col-md-12.col-lg-12.p-0
          = render partial: "shared/nav_main"

    %turbo-frame.m-0#flash_container{"data-controller": "flash", "data-flash-target": "flash"}
      = render "shared/flash"

    .container-fluid.main-container.w-100.align-content-center
      .row
        .col-sm-12.col-md-12.col-lg-12
          = yield

    .container-fluid
      = render partial: "shared/footer"
