!!!
%html{ lang: 'en', 'data-bs-theme': 'light' }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "#{controller.send(:stripe_publishable_api_key)}", :name => "stripe-key"}/
    %link{:href => "/icons/android-chrome-192x192.png", :rel => "shortcut icon", :type => "image/png"}/
    %link{:href => "https://fonts.googleapis.com", :rel => "preconnect"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Oswald:wght@200..700&display=swap", :rel => "stylesheet"}/
    %script{src: "https://js.stripe.com/v3/", crossorigin: "anonymous", async: true}

    %title
      - if content_for?(:title)
        = yield(:title)
      - else
        = PRODUCT_NAME

    = csrf_meta_tags
    = csp_meta_tag
    = yield :heads

    %link{:href => "/manifest.json", :rel => "manifest"}/

    = turbo_include_tags

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"

  %body
    = render partial: "shared/nav_main"

    %turbo-frame#flash_container{"data-controller": "flash", "data-flash-target": "flash"}
      = render "shared/flash"

    .container-fluid.m-auto.main-container
      .row
        .col-sm-0.col-md-.col-lg-0
        .col-sm-12.col-md-12.col-lg-12
          = yield
        .col-sm-0.col-md-0.col-lg-0

    #footer.m-0.pt-5.mt-5
      .card.p-0.mt-5
        .card-footer.bg-primary-subtle.text-center
          %small
            Crafted with ♡ in San Francisco &mdash; &copy; CFAEA 2010-#{Date.current.strftime('%Y')}
            All rights reserved.
            %br
            App Version #{TicketBooth::Application::VERSION}
            | Revision
            %a{href: "https://github.com/fnf-org/TicketBooth/commit/#{TicketBooth::Application::REVISION}", target: "_blank" }
              = TicketBooth::Application::REVISION
            | Rails #{Rails.version}
            | Ruby #{RUBY_VERSION}
            | #{Rails.env.to_s.capitalize} Env
            |
            = mail_to 'ticket-support@fnf.org', 'Ticket Booth Support', subject: 'Ticket Booth Support'


