!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = csrf_meta_tags
    = yield :meta

    %title
      = PRODUCT_NAME
      - if content_for?(:title)
        &mdash;
        = yield(:title)

    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application', media: 'all'

    = yield :head

  %body
    .navbar.navbar-expand-lg.navbar-dark.bg-primary
      .container-fluid
        %a.navbar-brand{ href: root_path }
          .h2
            = PRODUCT_NAME
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon

        .collapse.navbar-collapse#navbarSupportedContent
          %ul.navbar-nav.me-auto.mb-2.mb-lg-0.justify-content-center.navbar-nav-scroll{style: "--bs-scroll-height: 100px;" }
            - if user_signed_in?
              %li.nav-item
                %a.nav-link{ href: edit_user_registration_path }
                  Edit Profile
              %li.nav-item
                = link_to destroy_user_session_path, method: :delete, class: 'nav-link' do
                  Logouts

            - else
              %li.nav-item.d-flex
                %a.nav-link{ href:  new_user_session_path }
                  Login

        - if user_signed_in?
          %form{onsubmit: 'window.alert("Not yet implemented"); return false;', action: root_path, method: :get, class: 'd-flex'}
            %input.form-control.me-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
            %button.btn.btn-info{:type => "submit", onclick: 'document.alert("Not yet implemented")'} Search



    .container
      = bootstrap_flash
      = yield

    #footer
      .container
        %p.muted.text-center#footer-text
          <small>Crafted with ♡</small>
