!!!
%html{ lang: 'en', 'data-bs-theme': 'light' }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "#{stripe_publishable_api_key}", :name => "stripe-key"}/
    %link{:href => "/icons/nav-bar-logo.png", :rel => "shortcut icon", :type => "image/png"}/
    %link{:href => "https://fonts.googleapis.com", :rel => "preconnect"}/
    %link{:crossorigin => "", :href => "https://fonts.gstatic.com", :rel => "preconnect"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap", :rel => "stylesheet"}/

    %title
      = PRODUCT_NAME
      - if content_for?(:title)
        &mdash;
        = yield(:title)

    = csrf_meta_tags
    = csp_meta_tag
    = yield :heads

    %link{:href => "/manifest.json", :rel => "manifest"}/

    // Stripe
    %script{:src => "https://js.stripe.com/v3/"}
    = turbo_include_tags

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"

  %body
    = render partial: "shared/nav_main"
    .container
      %turbo-frame#flash_container{"data-controller": "flash", "data-flash-target": "flash"}
        = render "shared/flash"

      .row
        .col-sm-0.col-md-.col-lg-0
        .col-sm-12.col-md-12.col-lg-12
          = yield
        .col-sm-0.col-md-0.col-lg-0

    #footer.mb-0.pb-1
      .container
        .card
          .card-header
            %small
              Crafted with ♡ in San Francisco

