= form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
  = render 'shared/form_errors', resource: resource

  %h2 Register an account

  %p.lead
    Having an account allows you to request tickets and receive status
    updates on your requests.

  = f.label :name, 'Full Name'
  = f.text_field :name, autofocus: true, placeholder: 'First and last name',
    maxlength: User::MAX_NAME_LENGTH, required: true,
    class: 'input-xlarge'

  = f.label :email
  = f.email_field :email, placeholder: 'email@example.com',
    maxlength: User::MAX_EMAIL_LENGTH, required: true,
    class: 'input-xlarge'

  = f.label :password
  = f.password_field :password, placeholder: 'Must be at least 8 characters',
    required: true,
    maxlength: User::MAX_PASSWORD_LENGTH, class: 'input-xlarge'

  = f.label :password_confirmation
  = f.password_field :password_confirmation, placeholder: '',
    maxlength: User::MAX_PASSWORD_LENGTH, required: true,
    class: 'input-xlarge'

  .actions
    = f.submit 'Register', class: 'btn btn-primary btn-large'

= render 'users/shared/links'
